<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Мой Удобный Учет</title>
    <link rel="stylesheet" href="/static/css/common_1.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
</head>

<body>

    <div class="page_content_container">

        {% include "include_logo_myuu.html" %}

        <div>
            <h5>Опыт юзеров</h5>
        </div>

        <table class="table table-condensed table-striped">
            <tr>
                <th>ID и мыло</th>
                <th>Раннее событие</th>
                <th>Позднее события</th>
                <th>Дней работы</th>
                <th>Дней учета</th>
                <th>Операций</th>
                <th>Дней работы за последние 6 дней</th>
                <th>Пришел с (ведется со 128 юзера)</th>
            </tr>
            {% for record in userStat %}
                <tr>
                    <td style="padding-right: 25px;">{{ record.id }} {{ record.email }}</td>
                    <td style="padding-right: 25px;">{{ record.min_dt }}</td>
                    <td style="padding-right: 25px;">{{ record.max_dt }}</td>
                    <td>{{ record.count_dt }}</td>
                    <td>{{ record.count_dt_op }}</td>
                    <td>{{ record.count_op }}</td>
                    <td>{{ record.reg }}</td>
                    <td>{{ record.http_referer }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>


</body>
</html>
