<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Мой Удобный Учет</title>
    <link rel="stylesheet" href="/static/css/common_1.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
</head>

<body>

    <div class="page_content_container">

        <a class="logo__text" href="{% url 'my_uu.views.main' %} " >
            «Мой Удобный Учет»
        </a>

        <div>
            <h5>Оплатившие юзера</h5>
        </div>

        <table class="table table-condensed table-striped">
            <tr>
                <th>ID и мыло</th>
                <th>Платежей</th>
                <th>Сумма</th>
                <th>Последний платеж</th>
                <th>Дата по которую оплачено ↓</th>
            </tr>
            {% for record in upays %}
                <tr>
                    <td style="padding-right: 25px;">{{ record.user__id }} {{ record.user__email }}</td>
                    <td style="padding-right: 25px;">{{ record.cnt }}</td>
                    <td style="padding-right: 25px;">{{ record.sum }} р.</td>
                    <td style="padding-right: 25px;">{{ record.date_pay_last }}</td>
                    <td style="padding-right: 25px;">{{ record.date_max }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>


</body>
</html>
