{% extends 'base_begin.html' %}

{% block add_to_head %}

    <script src="{{ STATIC_URL }}js/auth_reg_form_ctrl.js"></script>
    <script>
        $(function() {
            $( "#auth-reg-tabs" ).tabs();
        });
    </script>
    <style>
        .auth__button {
            font-size: 25px;
            color: darkblue;
            background-color: lightblue;
            padding: 9px 38px;
            border-radius: 14px;
            border: 1px solid darkblue;
            cursor: pointer;
            clear: left;
            font-weight: bold;
        }
        .auth__button:hover {
            color: #e17009;
            border-color: darkred;
            background-color: lightyellow;
            font-weight: bold;
        }
        .auth__input input
        {
            width: 250px;
            font-size: 0.9em;
        }
        .auth__label
        {
            width: 300px;
            font-size: 0.9em;
        }
        .auth__errors
        {
            color: red;
        }
        .auth__nonfield_error
        {
            color: red;
        }
        .auth__field_error
        {
            color: white;
            font-weight: bold;
            background-color: red;
            width: 248px;
            padding: 3px;
            font-size: 12px;
            top: 2px;
            position: relative;
        }
    </style>

{% endblock %}

{% block content %}

    <h2>Скриншоты</h2>

    <div style="padding: 10px; background-color: lightblue; width: 800px; margin: 30px;">
        <img src="{{ STATIC_URL }}img/screenshot1.png" width="100%" style="opacity: 0.95;" />
    </div>
    <div style="padding: 10px; background-color: lightblue; width: 800px; margin: 30px;">
        <img src="{{ STATIC_URL }}img/screenshot2.png" width="100%" style="opacity: 0.95;" />
    </div>
    <div style="padding: 10px; background-color: lightblue; width: 800px; margin: 30px;">
        <img src="{{ STATIC_URL }}img/screenshot3.png" width="100%" style="opacity: 0.95;" />
    </div>

    <h2>Регистрируйтесь и попробуйте</h2>

    <div id="auth-reg-tabs" style="width: 400px; margin: 30px auto; height: 300px;" ng-controller="AuthRegFormCtrl" style="position: relative;">
        <ul>
            <li><a href="#tab-reg">Регистрация</a></li>
        </ul>
        <div id="tab-reg">

            <div class="auth__label">Введите свою эл. почту:</div>
            <div class="auth__input"><input type="text" ng-model="email"></div>

            <div class="auth__label">Введите пароль:</div>
            <div class="auth__input"><input type="text" ng-model="password"></div>

            <div class="auth__nonfield_error" ng-show="errorText"><span ng:bind="errorText"></span></div>
            <br />
            <button class="auth__button" ng-click="register()" name="reg_button">Зарегистрироваться</button>

        </div>

        <!-- Блок отображается во время запроса к серверу -->
        <div ng-show="loading" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; opacity: 0.5; background-color: green; opacity: 0.7; color: white; font-weight: bold; font-size: 1.3em; text-align: center; ">
            <div style="position: absolute; top: 50%; width: 100%;">
                <div style="position: relative; top: -50%; text-align: center; width: 100%;">
                    Загрузка...
                </div>
            </div>
        </div>
    </div>

{% endblock %}

