<div>

    <p>
        Только что Вы познакомились с сервисом учета расходов и доходов «<a href="http://my-uu.ru/">Мой Удобный Учет</a>».
    </p>

    <p>
        Напишите мне Ваше мнение и я учту его в ближайшее время.
    </p>

    <ul>
        <li>Для решения какой жизненной проблемы Вы рассматривали этот сервис?</li>
        <li>Какой возможности недостает в сервисе, чтобы он лучше подходил лично для Вас?</li>
        <li>Какие затруднения у Вас возникли при использовании сервиса?</li>
    </ul>

    <p>
        Чтобы высказать свое мнение, просто ответьте на это письмо.
    </p>

    <p>
        С уважением,<br />
        Войтко Павел,<br />
        создатель сервиса «Мой Удобный Учет»
    </p>

    <p style="color: gray;">
        В любой момент Вы можете отписаться за 1 клик от всех писем сервиса «Мой Удобный учет»,
        для этого <a href="{{ unsubscrUrl }}">пройдите на страницу отписки</a>.
    </p>

</div>





В любой момент Вы можете отписаться за 1 клик от всех писем сервиса «Мой Удобный учет», для этого пройдите на страницу отписки.

