<div>

    <p>
        Здравствуйте!
    </p>

    <p>
        Только что Вы познакомились с сервисом учета расходов и доходов «<a href="http://my-uu.ru/">Мой Удобный Учет</a>».
    </p>

    <p>
        Понравился ли Вам сервис? Какой функции не хватает лично для Вас? Какие затруднения возникали когда Вы пробовали?
    </p>

    <p>
        Я постараюсь учесть Ваши замечания в ближайшие несколько дней.
    </p>

    <p>
        Чтобы сообщить их мне, ответьте на это письмо.
    </p>

    <p>
        С уважением,<br />
        Войтко Павел,<br />
        создатель сервиса «Мой Удобный Учет»
    </p>

    <p>
        ---
    </p>
    <p style="color: gray;">
        Вы можете отписаться от всех писем сервиса «Мой Удобный учет» в любой момент за 1 клик ,
        для этого <a href="{{ unsubscrUrl }}">пройдите на страницу отписки</a>.
    </p>

</div>