<div>

    <p>
        Здравствуйте!
    </p>

    <p>
        2 дня назад Вы познакомились с сервисом учета расходов и доходов «<a href="http://my-uu.ru">Мой Удобный Учет</a>», но не стали им пользоваться.
    </p>

    <p>
        Прошу Вас помочь мне понять причину этого, чтобы улучшить сервис для других пользователей.
    </p>

    <p>
        Поделитесь, пожалуйста: что Вы бы хотели найти в идеальном случае, каких функций Вам не хватило в сервисе, почему Вы не стали пользоваться сервисом.
    </p>

    <p>
        <a href="{{ feedbackRequestUrl }}">Кликните здесь, чтобы написать ответ</a>.
    </p>

    <p>
        С уважением, Войтко Павел,<br />
        автор сервиса «Мой Удобный Учет»
    </p>

    <p>
        P.S. Это единственное письмо Вам направлено, потому что Вы проявили интерес к сервису.
        Больше писем в Ваш адрес направлятья не будет. Но если хотите,
        для Вашего спокойствия дополнительно Вы можете отписаться от всех писем сервиса в любой момент за 1 клик ,
        для этого <a href="{{ unsubscrUrl }}">пройдите на страницу отписки</a>.
    </p>

</div>