<div>

    <p>
        Вы зарегистрированы в сервисе «<a href="http://my-uu.ru/">Мой Удобный Учет</a>». Используйте эту ссылку для быстрого входа в сервис.
    </p>

    <p>
        Ваш логин (эл. почта): <b>{{ userEmail }}</b>
    </p>

    <p>
        Ваш пароль: <b>{{ userPassword }}</b>
    </p>
    <p>
        Если возникнут вопросы, пожелания, комментарии про учет личных расходов и доходов,
        можете написать их ответом на это письмо. Буду рад получить и с удовольствием отвечу.
    </p>
    <p>
        С уважением,<br />
        Войтко Павел,<br />
        создатель сервиса «Мой Удобный Учет»
    </p>

</div>