<div>

    <p>
        Вы зарегистрировались в сервисе <a href="http://my-uu.ru/">«Мой Удобный Учет»</a>.
    </p>

    <p>
        Ваш логин (эл. почта): <b>{{ userEmail }}</b>
    </p>

    <p>
        Ваш пароль: <b>{{ userPassword }}</b>
    </p>

    <p>
        Желаю приятного использования сервиса.
    </p>
    <p>
        Если возникнут вопросы, пожелания, комментарии про учет личных расходов и доходов,
        можете задать их ответом на это письмо, буду рад получить и с удовольствием отвечу.
    </p>
    <p>
        С уважением,<br />
        Войтко Павел,<br />
        создатель сервиса «Мой Удобный Учет»
    </p>
</div>