{% extends 'lk_base.html' %}

{% block add_to_head %}

    <!-- Форматирование дат -->
    <script type="text/javascript" src="{{ STATIC_URL }}libs/moment/moment.min.js"></script>

    <!-- Вспомогательные разные функции -->
    <script src="{{ STATIC_URL }}js/uu_utils.js"></script>

{% endblock %}


{% block ana_active %} class="active"{% endblock %}

{% block lk_content %}

    <script>
        function AnaController($scope){

            $scope.periodCode = 'week';
            $scope.anaType = 'rashod';

            // Тут получаем с сервера данные в формате
            // pageData {
            //     'dataRows': {
            //         'rashod-week': ...
            //         'rashod-month': ...
            //         'dohod-week': ...
            //         ....
            //     },
            //     ...
            // }
            $scope.pageData = {{ pageData|safe }};

            $scope.getDataRowList = function(){ return $scope.pageData['dataRows'][$scope.anaType + '-' + $scope.periodCode] };
            $scope.getTotalRow = function(){ return $scope.pageData['totalRow'][$scope.anaType + '-' + $scope.periodCode]; };
            $scope.getPeriods = function(){ return $scope.pageData['periods'][$scope.anaType + '-' + $scope.periodCode]; };
        }
    </script>

    <div ng-controller="AnaController">

        <!-- Выбор группировки -->
        <h5 style="display: inline;">Анализ </h5>
        <div style="padding-bottom: 7px; display: inline-block; position: relative; top:-4px; padding-left: 12px;">

            <label class="radio inline">
              <input type="radio" name="anaType" value="rashod" ng-model="anaType">расходов
            </label>
            <label class="radio inline">
              <input type="radio" name="anaType" value="dohod" ng-model="anaType">доходов
            </label>

        </div>
        <h5 style="display: inline; padding-left: 60px;">По периодам</h5>
        <div style="padding-bottom: 7px; display: inline-block; position: relative; top:-4px; padding-left: 12px;">

            <label class="radio inline">
              <input type="radio" name="periodCode" value="week" ng-model="periodCode">неделя
            </label>
            <label class="radio inline">
              <input type="radio" name="periodCode" value="month" ng-model="periodCode">месяц
            </label>

        </div>

        <!-- Таблица с периодами, категориями, суммами -->
        <table class="table table-hover table-condensed table-bordered" style="width: auto;" ng-cloak>
            <thead>
                <tr>
                    <th style="background-color: #f0f0f0; width: 200px; text-align: center;">Категория</th>
                    <th style="background-color: #f0f0f0; width: 92px; text-align: center;" ng-repeat="p in getPeriods()">
                        {$ p.first $}<br />{$ p.second $}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="getDataRowList().length == 0">
                    <td colspan="7" style="text-align: center; padding: 50px;">Нет операций для отобржения. Начните вести учет.</td>
                </tr>
                <tr ng-repeat="row in getDataRowList()">
                    <td style="background-color: #f0f0f0; "><div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 200px;">{$ row.category $}</div></td>
                    <td ng-repeat="i in row.data track by $index" style="text-align: right;">{$ i $}</td>
                </tr>
                <tr>
                    <td style="background-color: #f0f0f0; font-weight: bold; text-align: right;">
                        <span ng-if="anaType == 'rashod'">Расходы всего</span>
                        <span ng-if="anaType == 'dohod'">Доходы всего</span>
                    </td>
                    <td ng-repeat="i in getTotalRow() track by $index" style="background-color: #f0f0f0; text-align: right; font-weight: bold;">{$ i $}</td>
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}