{% extends 'lk_base.html' %}

{% block add_to_head %}

    <!-- Форматирование валюты -->
    <script src="{{ STATIC_URL }}js/uu_utils.js"></script>

    <!-- Перетаскивание строк таблицы -->
    <script src="{{ STATIC_URL }}libs/isocra-tablednd/jquery.tablednd.js"></script>

{% endblock %}

{% block acc_active %} class="active"{% endblock %}

{% block lk_content %}

    <script>

        function ChangeDlgCtrl($scope, $element, $http){

            // Вызывается из другого контроллера для показа диалога
            $scope.showForChange = function(resultHolderObject, resultHolderArray){
                $scope._init('Изменить счет', resultHolderObject, resultHolderArray);
            }
            $scope.showForAdd = function(resultHolderArray){
                $scope._init('Добавить счет', null, resultHolderArray);
            }
            $scope._init = function(capt, resultHolderObject, resultHolderArray){

                // Показываем JQuery диалог
                $($element).dialog({
                    modal: true,
                    width: 590,
                    resizable: false,
                    title: capt,
                    dialogClass: "change-dlg"
                });
                $($element).parent().find(".ui-dialog-titlebar-close").html("<span style='position: relative; top: -3px;'>&times;</span>");

                // Состояние диалога
                $scope.loading = false;
                $scope.errorText = "";

                // В диалоге редачим копию модели а не саму модель
                $scope.model = { visible: true, balance_start: 0 };
                if (resultHolderObject){
                    $scope.model = jQuery.extend({}, resultHolderObject);
                }

                // Сохраняем либо ссылку на исходную модель либо на массив в который аппендим.
                // Сюда мы поместим отредаченную модель при закрытии диалога.
                $scope.resultHolderObject = resultHolderObject;
                $scope.resultHolderArray = resultHolderArray;
            };

            // Эта функция возвращает каким будет текущий баланс если бы стартовый был как в поле ввода.
            $scope.getBalanceCurrentCalculated = function(){
                var rho = $scope.resultHolderObject;
                var deltaBalance = rho ? rho.balance_current - rho.balance_start : 0;
                var startBalanceStr = (($scope.model == undefined) || ($scope.model.balance_start == undefined)) ? 0 : $scope.model.balance_start;
                var startBalance = parseFloat(String(startBalanceStr).replace(',', '.'));
                startBalance = (startBalance) ? startBalance : 0;
                return uuFormatCurrency(startBalance + deltaBalance);
            }

            // Вызывается из этого контроллера для удаления на сервер значений из диалога и закрытия при успехе
            $scope.deleteOnServerAndClose = function(){
                $scope.loading = true;
                $scope.errorText = "";

                // Шлем на сервер
                httpObj = $http({
                    method: 'POST',
                    url: '{% url "my_uu.views.lk_delete_account_ajax" %}',
                    data: JSON.stringify($scope.model),
                    cache: false,
                    timeout: 15000
                }).success(function(data, status){
                    $scope.loading = false;
                    if (data.status == "ok"){

                        $scope.resultHolderArray.splice($scope.resultHolderArray.indexOf($scope.resultHolderObject), 1);
                        $scope.close();
                    }
                    else {
                        $scope.errorText = data.text;
                    }
                }).error(function(data, status){
                    $scope.loading = false;
                    uuAngReqFail('Удалить счет не удалось.');
                });

            }

            // Вызывается из этого контроллера для сохранения на сервер значений из диалога и закрытия при успехе
            $scope.updateOnServerAndClose = function(){
                $scope.loading = true;
                $scope.errorText = "";

                // Шлем на сервер
                httpObj = $http({
                    method: 'POST',
                    url: '{% url "my_uu.views.lk_save_account_ajax" %}',
                    data: JSON.stringify($scope.model),
                    cache: false,
                    timeout: 15000
                }).success(function(data, status){
                    $scope.loading = false;
                    if (data.status == "ok"){

                        // Сохраняем модель из диалога в модель что была в странице
                        $scope.model = data.data
                        if ($scope.resultHolderObject){
                            for (var attr in $scope.resultHolderObject) {
                                $scope.resultHolderObject[attr] = $scope.model[attr];
                            };
                        } else {
                            $scope.resultHolderArray.push($scope.model);
                        };

                        // Закрываем диалог
                        $scope.close();

                    }
                    else {
                        $scope.errorText = data.text;
                    }
                }).error(function(data, status){
                    $scope.loading = false;
                    uuAngReqFail('Сохранить изменения счета не удалось.');
                });

            };

            // Закрытие диалога по кнопке "Отмена" а также после сохранения на сервере.
            $scope.close = function(){
                $element.dialog('close');
            }
        }
    </script>

    <style>
        /* Это чтобы диалог был над меню */
        .change-dlg {
            position: fixed;
            z-index: 110;
        }

        /* Это уплотняет строки в форме margin 10px вместо 20px */
        .form-condensed .control-group {
            margin-bottom: 10px;
        }
    </style>

    <div id="change-dialog-modal" style="display: none; padding-top: 20px; z-index: 110;" ng-controller="ChangeDlgCtrl">

        <form class="form-horizontal form-condensed" ng-enter="updateOnServerAndClose()" ng-esc="close()">
            <div class="control-group">
                <label class="control-label">Название счета</label>
                <div class="controls">
                    <input type="text" ng-model="model.name" class="span5">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Начальный остаток</label>
                <div class="controls">
                    <input type="text" class="span2" ng-model="model.balance_start">
                    <span class="help-inline">р.</span>
                    <span class="help-inline">Заполните один раз, когда начинаете учет, чтобы текущий остаток денег на счете согласно учета прировнять к фактическому.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Текущий остаток</label>
                <div class="controls">
                    <div style="font-size: 14px; padding-top: 5px; height: 20px;">{$ getBalanceCurrentCalculated() $}</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Видим</label>
                <div class="controls">
                    <button type="button" class="btn" ng-class="{active: model.visible}" ng-click="model.visible=true">да</button>
                    <button type="button" class="btn" ng-class="{active: !model.visible}" ng-click="model.visible=false">нет</button>
                    <span class="help-inline">Показывать ли этот счет в списке при внесении операций учета и в списке на вкладке "Учет". Скрывайте старые больше ненужные счета.</span>
                </div>
            </div>
        </form>

        <div ng-show="errorText" class="alert alert-danger" ng-bind="errorText">
        </div>
        <div ng-show="loading" class="alert alert-info">
            Выполняется сохранение, ждите до 15 секунд...
        </div>

        <div class="row" style="margin-bottom: 5px;">
            <button class="btn btn-success pull-right" ng-click="updateOnServerAndClose()" ng-disabled="loading">Сохранить (Enter)</button>
            <button class="btn pull-right" style="margin-right: 15px;" ng-click="close()">Отмена (Esc)</button>
            <button class="btn btn-danger pull-right" ng-click="deleteOnServerAndClose()" style="margin-right: 15px;" ng-if="resultHolderObject" ng-disabled="loading">Удалить</button>
        </div>
    </div>

    <script>

        function AccountsCtrl($scope, $http, $element){

            $scope.accountList = JSON.parse('{{ accountListJsonString|escapejs }}');

            // Форматирование счета для отображения в листинге
            $scope.display = function(account){
                var res = {}
                res.opCount = account.count;
                res.visible = (account.visible) ? 'да': 'нет';
                res.balanceStart = uuFormatCurrency(parseFloat(account.balance_start));
                res.balanceCurrent = uuFormatCurrency(parseFloat(account.balance_current));
                return res;
            }

            // Показать диалог изменения
            $scope.changeDlg = function(item){
                $( "#change-dialog-modal").scope().showForChange(item, $scope.accountList);
            }

            // Показать диалог добавления
            $scope.addDlg = function(){
                $( "#change-dialog-modal").scope().showForAdd($scope.accountList);
            }

        }
    </script>

    <div ng-controller="AccountsCtrl" ng-doc-ins="addDlg()" ng-cloak>

        <style>
            .dotted_link{
                text-decoration: none;
                border-bottom: 1px dotted blue;
                color: blue;
                cursor: pointer;
            }
            .dotted_link:hover{
                text-decoration: none;
                border-bottom-color: red;
                color: red;
                cursor: pointer;
            }

            /* Внешний вид плашки за котоую можно тянуть */
            .move_panel {
                cursor: move;
            }
            .move_panel div {
                background-color: #eeeeee;
                border: 1px solid darkgrey;
                border-radius: 5px;
                height: 20px;
                width: 20px;
                text-align: center;
                color: darkgrey;
                font-weight: bold;
            }

            /* При наведении и при тяге сроки рамка плашки краснеет */
            .move_panel_hover div, .tDnD_whileDrag .move_panel div {
                border-color: red;
                color: red;
            }

            /* При нведении и тяге строки фон строки серый а шрифт жирный красный */
            .tDnD_whileDrag td {
                background-color: #f5e5e5;
                color: red !important;
                font-weight: bold;
            }

            .row_hover {
                background-color: #f5f5f5;
            }

            /* Троеточие у текста */
            .ellipsis{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            /* Пока обрабатывается ajax сохранения порядка строк */
            .row_saving {
                color: orange;
            }

            /* Серая строка если не видима категория */
            .row_not_visible {
                color: #dddddd;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#table-1").tableDnD({
                    dragHandle: ".move_panel",

                    // По умолчанию класс tDnD_whileDrag ставится когда уже начали тянуть строку.
                    // С помощью этого события ставим его сразу при клике (чтоб юзер видел что при клике
                    // краснеет строка).
                    // CSS класс снимается в библиотеке tdnd по отпусканию клика.
                    onDragStart: function(ev, target){
                        $(target).parent('tr').addClass('tDnD_whileDrag');
                    },
                    onDrop: function(table, row){

                        // Считываем ID строк таблицы и сохраняем в массив чтобы отправить на сервер.
                        var rows = $("#table-1").find('tbody').find('tr');
                        var rowIds = [];
                        rows.each(function(i, e){rowIds.push(parseInt(e.id))});

                        // На время выполнения ajax на сервер строка остается рыжей
                        $(row).addClass('row_saving');

                        // Отправляем на сервер порядок для сохранения
                        var prom = $.post(
                            "{% url 'my_uu.views.lk_save_accounts_order_ajax' %}",
                            JSON.stringify(rowIds)
                        ).done(function(){
                            $(row).removeClass('row_saving');
                        }).error(function(obj, err, textCode){
                            $(row).removeClass('row_saving');
                            uuJqReqFail(textCode, 'Новый порядок счетов не сохранен.');
                        });
                    }
                });

                // Стандартый CSS-bootstrap table-hover и hover над move_panel глюит иногда когда делаем драг-энд-дроп
                // строки (остается подсветка на строках где она уже не должна быть), потому реализуем это через JS
                $("#table-1").bind('mousemove', function(ev){
                    $("#table-1").find('tr').removeClass('row_hover');
                    $("#table-1").find('.move_panel').removeClass('move_panel_hover');
                    var row = $(ev.target).parents('tr:first');
                    if (row && row.parent().prop("tagName") == 'TBODY') {
                        row.addClass('row_hover');
                    };
                    var movePanelTd = $(ev.target).hasClass('move_panel') ? $(ev.target) : null;
                    if (!movePanelTd){
                         movePanelTd = $(ev.target).parents('td:first').hasClass('move_panel') ? $(ev.target).parents('td:first') : null;
                    }
                    if (movePanelTd){
                        movePanelTd.addClass('move_panel_hover');
                    }
                });
            });
        </script>

        <table id="table-1" class="table table-condensed" style="table-layout: fixed;">
            <thead>
                <th style="width: 5%;"></th>
                <th style="width: 40%;">Название</th>
                <th style="text-align: center;"><nobr>Нач. остаток</nobr></th>
                <th style="text-align: center;">Операций</th>
                <th style="text-align: center;"><nobr>Тек. остаток</nobr></th>
                <th style="text-align: center;">Видим</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="a in accountList" ng-class="{ 'row_not_visible': !a.visible }"  id="{$ a.id $}">
                    <td class="move_panel"><div>↕</div></td>
                    <td class="ellipsis">{$ a.name $}</td>
                    <td style="text-align: center;">{$ display(a).balanceStart $}</td>
                    <td style="text-align: center;">{$ display(a).opCount $}</td>
                    <td style="text-align: center;">{$ display(a).balanceCurrent $}</td>
                    <td style="text-align: center;">{$ display(a).visible $}</td>
                    <td style="cursor: default;"><span ng-click="changeDlg(a)" class="dotted_link">изменить</span></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-info" style="margin-left: 47px; top: -15px; position: relative;" ng-click="addDlg()">Добавить счет (Ins)</button>

        <div style="padding-top: 50px;"></div>

    </div>

{% endblock %}