{% extends 'lk_base.html' %}
{% load pvl_angular %}


{% block add_to_head %}

    <!-- Форматирование дат -->
    <script type="text/javascript" src="/static/libs/moment/moment.min.js"></script>

{% endblock %}


{% block ana_active %} class="active"{% endblock %}

{% block lk_wide_content %}

    <script>

        angular.module('myNgApp').controller('AnaController', function($scope, $http){

            // какие открыть в таблице
            $scope.periodCode = '{{ lka_period }}';
            $scope.ac_end_date = '{{ lkas_end_date }}';

            // Тут получаем с сервера данные в формате
            // pageData {
            //     'dataRows': {
            //         'rashod-week': ...
            //         'rashod-month': ...
            //         'dohod-week': ...
            //         ....
            //     },
            //     ...
            // }

            // Версия в контроллере
            $scope.acGoToAnaUrl = function(type, period, grouping_switch, bperiod){

                // переход
                // ПЕреход на страницу анализа с указанными типом анализа, периодом, группировкой.
                // Если они не указаны (undefined), тогда взять их из УРЛ. Если в урл их нет,
                // тогда они будут по-умолчанию.
                url = window.location.href;
                if (period === undefined){
                    period = getParameterByName('lka_period', url);
                }
                url = pvlGetUrlReplaceParam(url, 'lka_period', period, true);

                window.location.href = url;
            };

            // Загрузка данных с сервера
            $scope.lkafLoad = function(){

                // Ш-140
                $scope.lkafl_is_server_error = false;
                backendAjaxPostStatu2({
                    baps_http: $http,
                    baps_ajax_url: '/ajax_lk_ana/',
                    baps_dj_errors: false,
                    baps_response_dj_errors_field: false,
                    baps_loading_status: [$scope, 'lkafl_is_loading'],
                    baps_post_parameters: {
                        periodCode: $scope.periodCode,
                        lkax_end_date: $scope.ac_end_date
                    },
                    baps_error_callback: function(server_response){

                        // При ошибке свервера - включем флаг чтобы показалось сообщение
                        $scope.lkafl_is_server_error = true;

                    },
                    baps_success_callback: function(server_response){

                        $scope.loader_api_pageData = server_response.pageData;

                        // После загрузки данных - просатвляем ссылки на родитсельсткую строку
                        // это нужно для механизма сворачивания-разворачивания
                        // Сначала для этого строим список строк по ID
                        var rows_rashod_dohod = [$scope.getDataRowListDohod(), $scope.getDataRowListRashod()];
                        for (j=0; j<rows_rashod_dohod.length; ++j){
                            var rows_by_id = {}
                            var data_rows = rows_rashod_dohod[j];

                            for (i = 0; i<data_rows.length; ++i){
                                var row = data_rows[i];
                                rows_by_id[row.lka_category_id] = row;
                            }
                            for (i = 0; i<data_rows.length; ++i){
                                var row = data_rows[i];
                                row['lka_parent_row'] = rows_by_id[row.lka_parent_id];
                            }
                        }
                    }
                });


            };
            $scope.lkafLoad();

            $scope.getDataRowListDohod = function(){
                return $scope.loader_api_pageData['dataRows']['dohod-' + $scope.periodCode]
            };
            $scope.getDataRowListRashod = function(){
                return $scope.loader_api_pageData['dataRows']['rashod-' + $scope.periodCode]
            };

            // Проверяет всех родителей рекурсивно, один из них свернут, то и эту строку не надо показывать.
            $scope.lkaOneOfParentIsCollapsed = function(row){
                while(row.lka_parent_row){
                    row = row.lka_parent_row;
                    if (row.alka_is_collapsed){
                        return true;
                    }
                }
                return false;
            };
            $scope.getTotalRowDohod = function(){
                return $scope.loader_api_pageData['totalRow']['dohod-' + $scope.periodCode];
            };
            $scope.getTotalRowRashod = function(){
                return $scope.loader_api_pageData['totalRow']['rashod-' + $scope.periodCode];
            };
            $scope.getTotalRowLength1 = function(){
                return $scope.getTotalRowRashod().length;
            };
            $scope.getTotalRowLength2 = function(){
                return $scope.getTotalRowRashod().length + 2;
            };
            $scope.getPeriods = function(){
                return $scope.loader_api_pageData['periods']['rashod-' + $scope.periodCode];
            };
            $scope.getSimplePageData = function(){
                return $scope.loader_api_pageData;
            };
            $scope.getCatCaption = function(){
                return "Категории";
            };

            // Переод периодов для анализа влево или вправо
            $scope.lkaMovePeriod = function(to_right){

                // Провреяем, есть ли данные для переохда, если нет, то выходим.
                if (to_right && !$scope.getSimplePageData().lka_is_can_right){
                    return;
                }
                if (!to_right && !$scope.getSimplePageData().lka_is_can_left){
                    return;
                }

                // Определяем дату окончания
                var end_date = "";
                if (to_right){
                    end_date = $scope.getSimplePageData().lka_move_right_end_date;
                }
                else{
                    end_date = $scope.getSimplePageData().lka_move_left_end_date;
                }

                // Делаем переход на новый урл.
                url = window.location.href;
                url = pvlGetUrlReplaceParam(url, 'lka_end_date', end_date, true);
                window.location.href = url;
            }

            // Вызывается чтобч свернуть-разрвернуть строку и сохранить новый статус на сервер
            $scope.lkaafExpandCollapseRowAndSaveToServer = function(row){

                // Сверхнуть-развернуть
                row.alka_is_collapsed=!row.alka_is_collapsed;

                // Сохранить новый статус на сервер
                // Ш-140
                backendAjaxPostStatu2({
                    baps_http: $http,
                    baps_ajax_url: '/ajax_save_category_expand_status/',
                    baps_dj_errors: false,
                    baps_response_dj_errors_field: false,
                    baps_loading_status: false,
                    baps_post_parameters: {
                        asces_category_id: row.lka_category_id,
                        asces_new_expanded_status: !row.alka_is_collapsed
                    }
                });

            };

        });
    </script>

    <style>

        {# Стиль ссылки с суммы в таблице анализа #}
        .lka_sum_link{
            color: black;
        }
        .lka_sum_link:hover{
            color: red;
            background-color: yellow;
        }
    </style>

    <style>
        .sili_help_icon{
            display: inline-block;
            height: 18px;
            width: 18px;
            background: url(/static/img/sili_tooltip.png) no-repeat;
            position: relative;
            top: 5px;
        }
        .tooltip-inner {
            max-width: 630px;
            text-align: left;
        }
    </style>

    <div
            style="display: flex; flex-flow: row nowrap;"
            ng-controller="AnaController"
            ng-cloak
            >

        <div style="width: 320px;">

            <div style="padding: 0px 25px 25px 25px;">

                <!-- Выбор группировки -->
                <h5 style="margin: 10px 0px 0px 0px;">По периодам</h5>
                <div style="padding-bottom: 7px; display: inline-block; position: relative;" ng-cloak>

                    <button style="margin-top: 5px;" type="button" class="btn btn-default" ng-class="{active: periodCode=='day'}" ng-click="acGoToAnaUrl(undefined, 'day', undefined, undefined)">день</button>
                    <button style="margin-top: 5px;" type="button" class="btn btn-default" ng-class="{active: periodCode=='week'}" ng-click="acGoToAnaUrl(undefined, 'week', undefined, undefined)">неделя</button>
                    <button style="margin-top: 5px;" type="button" class="btn btn-default" ng-class="{active: periodCode=='month'}" ng-click="acGoToAnaUrl(undefined, 'month', undefined, undefined)">месяц</button>
                    <button style="margin-top: 5px;" type="button" class="btn btn-default" ng-class="{active: periodCode=='quart'}" ng-click="acGoToAnaUrl(undefined, 'quart', undefined, undefined)">квартал</button>
                    <button style="margin-top: 5px;" type="button" class="btn btn-default" ng-class="{active: periodCode=='app_year'}" ng-click="acGoToAnaUrl(undefined, 'app_year', undefined, undefined)">год</button>

                </div>

            </div>
        </div>
        <div style="width: 100%; flex-grow: 1;">

            <div ng-cloak>

                <div ng-if="lkafl_is_loading" class="alert alert-warning">
                    Загрузка данных с сервера, подождите, пожалуйста, до 30 секунд...
                </div>
                <div ng-if="!lkafl_is_loading">

                    <!-- Таблица с периодами, категориями, суммами -->
                    <table
                            class="table table-hover table-condensed table-bordered pv_light_tooltip"
                            style="width: auto; border: none;"
                            ng-cloak
                            >
                        <thead>
                            <tr>

                                {# Заголовок "категории" #}
                                <th
                                        style="background-color: #f0f0f0; text-align: center; height: 75px; vertical-align: top; border-top: 1px solid #ddd; width: 200px;"
                                        >
                                    {% ng getCatCaption() %}
                                </th>

                                {# Отступ #}
                                <th style="background-color: transparent; width: 30px; border: none; height: 75px; vertical-align: top; position: relative;">

                                    {# Стрелка #}
                                    <div
                                            style="right: -14px;"
                                            class="my_uu_change_periood_arrow"
                                            ng-class="{ 'my_uu_change_periood_arrow_disabled': !getSimplePageData().lka_is_can_left }"
                                            ng-click="lkaMovePeriod(to_right=false)"
                                            >
                                        <i class="far fa-arrow-alt-circle-left"></i>
                                    </div>

                                </th>

                                {# ширина 101 подобрана чтобы недели входили, например, неделя 13 2016 года - длинный текст #}
                                <th
                                        style="background-color: #f0f0f0; width: 101px; text-align: center; height: 75px; vertical-align: top; border-top: 1px solid #ddd;"
                                        ng-repeat="p in getPeriods()"
                                        >
                                    {% ng p.first %}<br /><span style="font-weight: normal;">{% ng p.second %}</span>
                                </th>

                                {# Отступ #}
                                <th style="background-color: transparent; width: 30px; border: none; height: 75px; vertical-align: top; position: relative;">

                                    {# Стрелка #}
                                    <div
                                            style="left: -14px;"
                                            class="my_uu_change_periood_arrow"
                                            ng-class="{ 'my_uu_change_periood_arrow_disabled': !getSimplePageData().lka_is_can_right }"
                                            ng-click="lkaMovePeriod(to_right=true)"
                                            >
                                        <i class="far fa-arrow-alt-circle-right"></i>
                                    </div>

                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            {# Сумма Доходов итого по периодам - сначала пустая строка, потом заголовок, потом стркои данных #}
                            {% include "include_ana_rashod_dohod_rows.html" with iard_cap="Доходы" iard_rows_ng="getDataRowListDohod()" iard_total_ng="getTotalRowDohod()" %}

                            {# Сумма расхдов итого по периодам - сначала пустая строка, потом заголовок, потом стркои данных #}
                            {% include "include_ana_rashod_dohod_rows.html" with iard_cap="Расходы" iard_rows_ng="getDataRowListRashod()" iard_total_ng="getTotalRowRashod()" %}

                        </tbody>
                    </table>

                </div>
                <div ng-if="lkafl_is_server_error" class="alert alert-danger">
                    Ошибка на сервере. Повторите попытку позже, пожалуйста, или обратитесь в службу поддержки.
                </div>

            </div>
        </div>

    </div>

{% endblock %}