{% extends 'lk_base.html' %}

{% block add_to_head %}

    <!-- Вспомогательные разные функции -->
    <script src="{{ STATIC_URL }}js/uu_utils.js"></script>

{% endblock %}


{% block ana_active %} class="active"{% endblock %}

{% block lk_content %}

    <script>
        function AnaController($scope){
            $scope.reportIndex = 0;
            $scope.dataRowListArray = [{{ dataRowListW|safe }}, {{ dataRowListM|safe }}];
            $scope.totalRowArray = [{{ totalRowW|safe }}, {{ totalRowM|safe }}];
            $scope.periodsArray = [{{ periodsW|safe }}, {{ periodsM|safe }}];
            $scope.getDataRowList = function(){ return $scope.dataRowListArray[$scope.reportIndex] };
            $scope.getTotalRow = function(){ return $scope.totalRowArray[$scope.reportIndex]; };
            $scope.getPeriods = function(){ return $scope.periodsArray[$scope.reportIndex]; };
        }
    </script>

    <div ng-controller="AnaController">

        <!-- Выбор группировки -->
        <h5 style="display: inline;">Анализ расходов по периодам</h5>
        <div style="padding-bottom: 7px; display: inline-block; position: relative; top:-4px; padding-left: 12px;">

            <label class="radio inline">
              <input type="radio" name="period" value="0" ng-model="reportIndex"> по неделям
            </label>
            <label class="radio inline">
              <input type="radio" name="period" value="1" ng-model="reportIndex"> по месяцам
            </label>

        </div>

        <!-- Таблица с периодами, категориями, суммами -->
        <table class="table table-hover table-condensed table-bordered" style="width: auto;" ng-cloak>
            <thead>
                <tr>
                    <th style="background-color: #f0f0f0; width: 200px; text-align: center;">Категория</th>
                    <th style="background-color: #f0f0f0; width: 92px; text-align: center;" ng-repeat="p in getPeriods()">
                        {$ p.first $}<br />{$ p.second $}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="getDataRowList().length == 0">
                    <td colspan="7" style="text-align: center; padding: 50px;">Еще нет данных. Начните вести учет.</td>
                </tr>
                <tr ng-repeat="row in getDataRowList()">
                    <td style="background-color: #f0f0f0; "><div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 200px;">{$ row.category $}</div></td>
                    <td ng-repeat="i in row.data track by $index" style="text-align: right;">{$ i $}</td>
                </tr>
                <tr>
                    <td style="background-color: #f0f0f0; font-weight: bold; text-align: right;">Расходы всего</td>
                    <td ng-repeat="i in getTotalRow() track by $index" style="background-color: #f0f0f0; text-align: right; font-weight: bold;">{$ i $}</td>
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}