{% extends 'lk_base.html' %}

{% block add_to_head %}
{% endblock %}
{% block beg_active %} class="active"{% endblock %}

{% block lk_content %}

    <p style="margin: 10px 0;"><strong>
        Посмотрите таблицу "Расходы по категориям".
    </strong></p>

    <img src="{{STATIC_URL}}img/screen-2014_02-01.png" width="80%" style="padding: 20px; background-color: lightblue;"/>

    <p style="margin: 10px 0;"><strong>
        Посмотрите таблицу "Денег на счетах".
    </strong></p>
    <img src="{{STATIC_URL}}img/screen-2014_02-02.png" width="80%" style="padding: 20px; background-color: lightblue;"/>

    <p style="margin: 10px 0;">
        Такие таблицы Вы увидите в этом сервисе, если начнете вести учет.
    </p>

    <p style="margin: 10px 0;"><strong>
        Вся ценность от ведения учета заключена именно в них. Такие же таблицы, но с Вашими данными, помогут Вам:
    </strong></p>

    <p style="margin: 10px 0;"><strong>
        Знать правду о себе:
    </strong></p>
    <ul>
        <li>Видеть куда «деваются» деньги, очевидно на 100%.</li>
        <li>Видеть ошибочные траты, покупки (и исправлять ошибки в будущем).</li>
        <li>Видеть сколько денег есть сейчас (принять правильное решение сейчас).</li>
        <li>Видеть сумму долгов сейчас (свои и себе).</li>
        <li>Видеть как меняются траты от разных жизненных решений.</li>
        <li>Видеть сколько денег нужно на текущую жизнь.</li>
    </ul>
    <p style="margin: 10px 0;"><strong>
        Экономить время и деньги:
    </strong></p>
    <ul>
        <li>Видеть с чего начать экономию (с самого затратного).</li>
        <li>Придумывать идеи по экономии, оценивать их.</li>
        <li>Внедрять идеи по экономии и отслеживать эффект.</li>
        <li>Избежать долгов (долги - это лишние траты времени, денег, энергии).</li>
    </ul>
    <p style="margin: 10px 0;"><strong>
        Мотивироваться, планировать:
    </strong></p>
    <ul>
        <li>Позволяет составить бюджет (план трат) на следующий месяц или год.</li>
        <li>Прикинуть срок исполнения "крупного желания" (видим расход, доход, дельту в месяц = считаем срок).</li>
        <li>Мотивироваться на увеличение дохода (видно сколько не хватает для ближайшего "крупного желания").</li>
    </ul>
    <p style="margin: 10px 0;"><strong>
        Хотите этого? Тогда Вам нужно сделать следующее:
    </strong></p>
    <ol>
        <li>Запишите расходы за сегодня на вкладке «Учет»: 3 мин.</li>
        <li>Сверьте остатки: учет и факт: 2 мин.</li>
        <li>Завтра повторите. Спустя несколько дней это станет привычкой, как чистить зубы.</li>
        <li>В ближайшие выходные посмотрите свою таблицу «Анализ». К Вам в голову сами придут идеи.</li>
        <li>Внедрите пришедшие идеи по экономии денег, по исправлению ошибок в тратах, по добавлению новых категорий.</li>
    </ol>
    <a href="/lk/" class="btn btn-success btn-large" style="margin-bottom: 20px;">Записать расходы за сегодня</a>

{% endblock %}