{% extends 'lk_base.html' %}

{% block add_to_head %}

    <!-- Перетаскивание строк таблицы -->
    <script src="/static/libs/isocra-tablednd/jquery.tablednd.js"></script>

{% endblock %}

{% block cat_active %} class="active"{% endblock %}



{% block lk_wide_content %}

    <script>

        function ChangeDlgCtrl($scope, $element, $http){

            // Вызывается из другого контроллера для показа диалога
            $scope.showForChange = function(resultHolderObject, resultHolderArray){
                $scope._init('Изменить категорию', resultHolderObject, resultHolderArray);
            }
            $scope.showForAdd = function(resultHolderArray){
                $scope._init('Добавить категорию', null, resultHolderArray);
            }
            $scope._init = function(capt, resultHolderObject, resultHolderArray){

                // Показываем JQuery диалог
                $($element).dialog({
                    modal: true,
                    width: 590,
                    resizable: false,
                    title: capt,
                    dialogClass: "change-dlg"
                });
                $($element).parent().find(".ui-dialog-titlebar-close").html("<span style='position: relative; top: -3px;'>&times;</span>");

                // Состояние диалога
                $scope.loading = false;
                $scope.errorText = "";

                // В диалоге редачим копию модели а не саму модель
                $scope.lkcat_model = {
                    visible: true
                };
                if (resultHolderObject){
                    $scope.lkcat_model = jQuery.extend({}, resultHolderObject);
                }

                // Сохраняем либо ссылку на исходную модель либо на массив в который аппендим.
                // Сюда мы поместим отредаченную модель при закрытии диалога.
                $scope.resultHolderObject = resultHolderObject;
                $scope.resultHolderArray = resultHolderArray;
            };

            // Вызывается из этого контроллера для удаления на сервер значений из диалога и закрытия при успехе
            $scope.deleteOnServerAndClose = function(){
                $scope.loading = true;
                $scope.errorText = "";

                // Шлем на сервер
                httpObj = $http({
                    method: 'POST',
                    url: '{% url "my_uu.views.lk_delete_category_ajax" %}',
                    data: JSON.stringify($scope.lkcat_model),
                    cache: false,
                    timeout: 15000
                }).success(function(data, status){
                    $scope.loading = false;
                    if (data.status == "ok"){

                        $scope.resultHolderArray.splice($scope.resultHolderArray.indexOf($scope.resultHolderObject), 1);
                        $scope.close();
                    }
                    else {
                        $scope.errorText = data.text;
                    }
                }).error(function(data, status){
                    $scope.loading = false;
                    uuAngReqFail('Удалить категорию не удалось.');
                });

            }

            // Вызывается из этого контроллера для сохранения на сервер значений из диалога и закрытия при успехе
            $scope.updateOnServerAndClose = function(){
                $scope.loading = true;
                $scope.errorText = "";

                // Шлем на сервер
                httpObj = $http({
                    method: 'POST',
                    url: '{% url "my_uu.views.lk_save_category_ajax" %}',
                    data: JSON.stringify($scope.lkcat_model),
                    cache: false,
                    timeout: 15000
                }).success(function(data, status){
                    $scope.loading = false;
                    if (data.status == "ok"){

                        // Сохраняем модель из диалога в модель что была в странице
                        $scope.lkcat_model = data.data;
                        if ($scope.resultHolderObject){
                            for (var attr in $scope.resultHolderObject) {
                                $scope.resultHolderObject[attr] = $scope.lkcat_model[attr];
                            };
                        } else {
                            $scope.resultHolderArray.push($scope.lkcat_model);
                        };

                        // Закрываем диалог
                        $scope.close();

                    }
                    else {
                        $scope.errorText = data.text;
                    }
                }).error(function(data, status){
                    $scope.loading = false;
                    uuAngReqFail('Сохранить изменения категории не удалось.');
                });

            };

            // Закрытие диалога по кнопке "Отмена" а также после сохранения на сервере.
            $scope.close = function(){
                $element.dialog('close');
            }

            // Периоды для бюдждетов
            $scope.ac_choices_list = {{ lkc_budget_periods_choices_json|safe }};
        }
    </script>

    <style>
        /* Это чтобы диалог был над меню */
        .change-dlg {
            position: fixed;
            z-index: 110;
        }

        /* Это уплотняет строки в форме margin 10px вместо 20px */
        .form-condensed .control-group {
            margin-bottom: 10px;
        }
    </style>


    <style>
        .dotted_link{
            text-decoration: none;
            border-bottom: 1px dotted blue;
            color: blue;
            cursor: pointer;
        }
        .dotted_link:hover{
            text-decoration: none;
            border-bottom-color: red;
            color: red;
            cursor: pointer;
        }

        /* Внешний вид плашки за котоую можно тянуть */
        .move_panel {
            cursor: move;
        }
        .move_panel div {
            background-color: #eeeeee;
            border: 1px solid darkgrey;
            border-radius: 5px;
            height: 22px;
            width: 22px;
            text-align: center;
            color: darkgrey;
            font-weight: bold;
            margin-top: -1px;
            margin-bottom: -1px;
        }

        /* При наведении и при тяге сроки рамка плашки краснеет */
        .move_panel_hover div, .tDnD_whileDrag .move_panel div {
            border-color: red;
            color: red;
        }

        /* При нведении и тяге строки фон строки серый а шрифт жирный красный */
        .tDnD_whileDrag td {
            background-color: #f5e5e5;
            color: red !important;
            font-weight: bold;
        }

        .row_hover {
            background-color: #f5f5f5;
        }

        /* Троеточие у текста */
        .ellipsis{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Пока обрабатывается ajax сохранения порядка строк */
        .row_saving {
            color: orange;
        }

        /* Серая строка если не видима категория */
        .row_not_visible {
            color: #dddddd;
        }
    </style>

    <script>

        function AccountsCtrl($scope, $http, $element, $timeout){

            $scope.accountList = {{ lkc_category_list_json|safe }};

            // Форматирование счета для отображения в листинге
            $scope.acGetDisplayInfo = function(account){
                var res = {}
                res.opCount = account.count;
                res.visible = (account.visible) ? 'да': 'нет';
                res.agd_budget = account.lkc_budget_with_period_str;
                return res;
            }

            // Показать диалог изменения
            $scope.changeDlg = function(item){
                $( "#change-dialog-modal").scope().showForChange(item, $scope.accountList);
            }

            // Показать диалог добавления
            $scope.addDlg = function(){
                $( "#change-dialog-modal").scope().showForAdd($scope.accountList);
            }

            // Вызывается при клике галочки, чтобы оновить jquery обработчики, иначе скрытые
            // (невидимые) не работает drag and drop.
            $scope.lkcShowHidedClickedUpdateDnD = function(){

                $timeout(function(){
                    uuInitTableDragAndDrop(
                        "#table-1",
                        "{% url 'my_uu.views.lk_save_categories_order_ajax' %}",
                        'Новый порядок категорий не сохранен.'
                    );
                });
            }

            $scope.lkcShowHidedClickedUpdateDnD();
        }
    </script>

    <div
            style="display: flex; flex-flow: row nowrap;"
            ng-controller="AccountsCtrl"
            ng-doc-ins="addDlg()"
            ng-cloak
            >

        <div style="flex-grow: 1; flex-basis: 1%;">

            {% include "include_show_invisible_categories.html" %}

        </div>
        <div style="width: 830px;">

            <div>

                <table
                        id="table-1"
                        class="table table-condensed pv_light_tooltip"
                        style="table-layout: fixed; width: 100%;"
                        >
                    <thead>
                        <th style="width: 40px;"></th>
                        <th style="width: 90%;">Название категории</th>
                        <th style="text-align: center; width: 80px;">Операций</th>
                        <th style="text-align: center; width: 80px;">Видима</th>
                        <th style="text-align: left; width: 160px;">Бюджет</th>
                        <th style="text-align: left; width: 100px;">Изменить</th>
                    </thead>
                    <tbody>
                        <tr
                                ng-repeat="a in accountList"
                                ng-if="a.visible || lkc_is_show_hided"
                                ng-class="{ 'row_not_visible': !a.visible }"
                                id="{$ a.id $}"
                                >
                            <td class="move_panel" title="Потяните, чтобы изменить порядок"><div>↕</div></td>
                            <td
                                    >
                                <div pv-tooltip-directive="a.name" class="ellipsis">
                                    {$ a.name $}
                                </div>
                            </td>
                            <td style="text-align: center;">{$ acGetDisplayInfo(a).opCount $}</td>
                            <td style="text-align: center;">{$ acGetDisplayInfo(a).visible $}</td>
                            <td style="text-align: left;">{$ acGetDisplayInfo(a).agd_budget $}</td>
                            <td style="cursor: default;"><span ng-click="changeDlg(a)" class="dotted_link">изменить</span></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-info" style="margin-left: 47px; top: -15px; position: relative;" ng-click="addDlg()">Добавить категорию (Ins)</button>

                <div style="padding-top: 50px;"></div>

            </div>
        </div>

        <div style="flex-grow: 1; flex-basis: 1%;">
        </div>

    </div>


    {# Диалог редактирования #}
    <div id="change-dialog-modal" style="display: none; padding-top: 20px; z-index: 110;" ng-controller="ChangeDlgCtrl">

        <form class="form-horizontal form-condensed" ng-enter="updateOnServerAndClose()" ng-esc="close()">
            <div class="form-group">
                <label class="control-label col-xs-4">Название категории</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="lkcat_model.name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Видима</label>
                <div class="col-xs-8">
                    <div>
                        <button type="button" class="btn btn-default" ng-class="{active: lkcat_model.visible}" ng-click="lkcat_model.visible=true">да</button>
                        <button type="button" class="btn btn-default" ng-class="{active: !lkcat_model.visible}" ng-click="lkcat_model.visible=false">нет</button>
                    </div>
                    <div class="help-block">Показывать ли эту категорию в списке при внесении операций учета. Скрывайте старые больше ненужные категории.</div>
                </div>
            </div>

            {# Бюджет категории #}
            <div class="form-group">
                <label class="control-label col-xs-4">Периодичность бюджета</label>
                <div class="col-xs-8">
                    <div>
                        <button
                                ng-repeat="p in ac_choices_list"
                                style="margin: 3px;"
                                type="button"
                                class="btn btn-default"
                                ng-class="{active: lkcat_model.lkcm_budget_period==p.0}"
                                ng-click="lkcat_model.lkcm_budget_period=p.0"
                                >
                            {$ p.1 $}
                        </button>
                    </div>
                    <div class="help-block">
                        С какой периодичностью повторяются данные расходы.
                        Используется для отображения на странице "Анализ".
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">Бюджет категории</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="lkcat_model.lkcm_budget_value" class="form-control">
                    <div class="help-block">
                        Не более скольки планируется расход за указанный период по этой категории.
                        Используется для отображения на странице "Анализ".
                    </div>
                </div>
            </div>

        </form>

        <div ng-show="errorText" class="alert alert-danger" ng-bind="errorText">
        </div>
        <div ng-show="loading" class="alert alert-info">
            Выполняется сохранение, ждите до 15 секунд...
        </div>

        <div class="row" style="margin-bottom: 5px;">
            <div class="col-xs-12">
                <button class="btn btn-success pull-right" ng-click="updateOnServerAndClose()" ng-disabled="loading">Сохранить (Enter)</button>
                <button class="btn pull-right btn-default" style="margin-right: 15px;" ng-click="close()">Отмена (Esc)</button>
                <button class="btn btn-danger pull-right" ng-click="deleteOnServerAndClose()" style="margin-right: 15px;" ng-if="resultHolderObject" ng-disabled="loading">Удалить</button>
            </div>
        </div>

    </div>

{% endblock %}