{% extends 'lk_base.html' %}


{% load pvl_angular %}


{% block add_to_head %}

    <!-- Перетаскивание строк таблицы -->
    <script src="/static/libs/isocra-tablednd/jquery.tablednd.js"></script>

{% endblock %}

{% block cat_active %} class="active"{% endblock %}



{% block lk_wide_content %}

    <script>

        angular.module('myNgApp').controller('ChangeDlgCtrl', function($scope, $element, $http){

            // Вызывается из другого контроллера для показа диалога
            $scope.showForChangeCategory = function(resultHolderObject, resultHolderArray){
                $scope._init('Изменить категорию', resultHolderObject, resultHolderArray, 'CDC_TYPE_CATEGORY');
            }
            $scope.showForChangeGroup = function(resultHolderObject, resultHolderArray){
                $scope._init('Изменить группу', resultHolderObject, resultHolderArray, 'CDC_TYPE_GROUP');
            }
            $scope.showForAddCategory = function(resultHolderArray){
                $scope._init('Добавить категорию', null, resultHolderArray, 'CDC_TYPE_CATEGORY');
            }
            $scope.showForAddGroup = function(resultHolderArray){
                $scope._init('Добавить группу', null, resultHolderArray, 'CDC_TYPE_GROUP');
            }
            $scope._init = function(capt, resultHolderObject, resultHolderArray, cdc_type){

                // Тип окна - правим категорию или группу
                $scope.cdc_header = capt;
                $scope.cdc_type = cdc_type;

                // Показываем диалог
                $('#myuu_change_category_dlg_id').modal();

                // В диалоге редачим копию модели а не саму модель
                $scope.lkcat_model = {

                    // В диалоге добавления для новых категорий - по дефолту - видима категория
                    'scf_visible': true,

                    // В диалоге добавления для новых категорий - по дефолту - тип - расход
                    'lkcm_dohod_rashod_type': "LKCM_DOHOD_RASHOD_TYPE_RASHOD",

                    // Тип - группа или категория
                    'lkcm_cdc_type': $scope.cdc_type

                };
                if (resultHolderObject){
                    $scope.lkcat_model = jQuery.extend($scope.lkcat_model, resultHolderObject);
                }

                // Сохраняем либо ссылку на исходную модель либо на массив в который аппендим.
                // Сюда мы поместим отредаченную модель при закрытии диалога.
                $scope.resultHolderObject = resultHolderObject;
                $scope.resultHolderArray = resultHolderArray;

                {# Класс для работы с ошибками из-под джанго-формы #}
                $scope.cdc_dj_errors = new PvlDjangoFormErrors();
            };

            // Вызывается из этого контроллера для удаления на сервер значений из диалога и закрытия при успехе
            $scope.lkcDeleteOnServerAndClose = function(){

                // Шлем на сервер
                backendAjaxPostStatu2({
                    baps_http: $http,
                    baps_ajax_url: '{% url "ajax_lk_delete_category_url" %}',
                    baps_dj_errors: $scope.cdc_dj_errors,
                    baps_response_dj_errors_field: "aldc_django_form_errors",
                    baps_loading_status: [$scope, 'cdcs_loading'],
                    baps_post_parameters: {
                        'lsca_model': $scope.lkcat_model
                    },
                    baps_success_callback: function(server_response){

                        $scope.resultHolderArray.splice($scope.resultHolderArray.indexOf($scope.resultHolderObject), 1);
                        $scope.cdcClose();

                    }
                });

            }

            // Вызывается из этого контроллера для сохранения на сервер значений из диалога и закрытия при успехе
            $scope.lkcUpdateOnServerAndClose = function(){

                // Ш-140
                backendAjaxPostStatu2({
                    baps_http: $http,
                    baps_ajax_url: '{% url "ajax_save_category_url" %}',
                    baps_dj_errors: $scope.cdc_dj_errors,
                    baps_response_dj_errors_field: "lsca_django_form_errors",
                    baps_loading_status: [$scope, 'cdcs_loading'],
                    baps_post_parameters: {
                        'lsca_model': $scope.lkcat_model
                    },
                    baps_success_callback: function(server_response){

                        // Сохраняем модель из диалога в модель что была в странице
                        $scope.lkcat_model = server_response.lscas_category;
                        if ($scope.resultHolderObject){
                            for (var attr in $scope.resultHolderObject) {
                                $scope.resultHolderObject[attr] = $scope.lkcat_model[attr];
                            };
                        } else {
                            $scope.resultHolderArray.push($scope.lkcat_model);
                        };

                        // Закрываем диалог
                        $scope.cdcClose();
                    }
                });

            };

            // Закрытие диалога по кнопке "Отмена" а также после сохранения на сервере.
            $scope.cdcClose = function(){
                $($element).modal('toggle');
            }

            // Периоды для бюдждетов
            $scope.ac_choices_list = {{ lkc_budget_periods_choices_json|safe }};
            $scope.ac_group_choices = {{ acs_group_choices_json|safe }};

        });
    </script>

    <style>
        /* Это чтобы диалог был над меню */
        .change-dlg {
            position: fixed;
            z-index: 110;
        }

        /* Это уплотняет строки в форме margin 10px вместо 20px */
        .form-condensed .control-group {
            margin-bottom: 10px;
        }
    </style>


    <style>
        .dotted_link{
            text-decoration: none;
            border-bottom: 1px dotted blue;
            color: blue;
            cursor: pointer;
        }
        .dotted_link:hover{
            text-decoration: none;
            border-bottom-color: red;
            color: red;
            cursor: pointer;
        }

        /* Внешний вид плашки за котоую можно тянуть */
        .move_panel {
            cursor: move;
        }
        .move_panel div {
            background-color: #eeeeee;
            border: 1px solid darkgrey;
            border-radius: 5px;
            height: 22px;
            width: 22px;
            text-align: center;
            color: darkgrey;
            font-weight: bold;
            margin-top: -1px;
            margin-bottom: -1px;
        }

        /* При наведении и при тяге сроки рамка плашки краснеет */
        .move_panel_hover div, .tDnD_whileDrag .move_panel div {
            border-color: red;
            color: red;
        }

        /* При нведении и тяге строки фон строки серый а шрифт жирный красный */
        .tDnD_whileDrag td {
            background-color: #f5e5e5;
            color: red !important;
            font-weight: bold;
        }

        .row_hover {
            background-color: #f5f5f5;
        }

        /* Троеточие у текста */
        .ellipsis{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Пока обрабатывается ajax сохранения порядка строк */
        .row_saving {
            color: orange;
        }

        /* Серая строка если не видима категория */
        .row_not_visible {
            color: #dddddd;
        }
    </style>

    <script>

        angular.module('myNgApp').controller('AccountsCtrl', function($scope, $http, $element, $timeout){

            $scope.lcca_accountList = {{ lkc_category_list_json|safe }};

            // Фильтр категорий изначально по расходу
            $scope.lkc_filter_categories_type = 'LKCM_DOHOD_RASHOD_TYPE_RASHOD';

            // Форматирование счета для отображения в листинге
            $scope.acGetDisplayInfo = function(account){
                var res = {}
                res.opCount = account.lkcm_count;
                res.gdi_visible = (account.scf_visible) ? 'да': 'нет';
                res.agd_budget = account.lkc_budget_with_period_str;
                return res;
            }

            // Показать диалог изменения
            $scope.changeDlg = function(item){
                if (item.lkc_is_group){
                    $( "#myuu_change_category_dlg_id").scope().showForChangeGroup(item, $scope.lcca_accountList);
                } else {
                    $( "#myuu_change_category_dlg_id").scope().showForChangeCategory(item, $scope.lcca_accountList);
                }
            }

            // Показать диалог добавления категории
            $scope.addCategoryDlg = function(){
                $( "#myuu_change_category_dlg_id").scope().showForAddCategory($scope.lcca_accountList);
            }

            // Показать диалог добавления группы
            $scope.addGroupDlg = function(){
                $( "#myuu_change_category_dlg_id").scope().showForAddGroup($scope.lcca_accountList);
            }

            // Вызывается при клике галочки, чтобы оновить jquery обработчики, иначе скрытые
            // (невидимые) не работает drag and drop.
            $scope.lkcShowHidedClickedUpdateDnD = function(){

                $timeout(function(){
                    uuInitTableDragAndDrop(
                        "#table-1",
                        "{% url 'lk_save_categories_order_ajax_url' %}",
                        'Новый порядок категорий не сохранен.'
                    );
                });
            }

            // Возвращает список категорий для показа
            $scope.lkcGetCategoriesListFiltered = function(){
                var res = $scope.lcca_accountList;
                res = pvlGetElemArrayByAttr(res, 'lkcm_dohod_rashod_type', $scope.lkc_filter_categories_type);
                return res;
            }

            $scope.lkcShowHidedClickedUpdateDnD();

        });
    </script>

    <div
            style="display: flex; flex-flow: row nowrap;"
            ng-controller="AccountsCtrl"
            ng-doc-ins="addCategoryDlg()"
            ng-cloak
            >

        <div style="flex-grow: 1; flex-basis: 1%;">

            <!-- Выбор типа -->
            <h5 style="margin: 0px 0px 0px 25px;">Тип категории:</h5>
            <div style="padding-bottom: 7px; display: block; margin-left: 25px;" ng-cloak>

                <button
                        style="margin-top: 5px;"
                        type="button"
                        class="btn btn-default"
                        ng-class="{active: lkc_filter_categories_type=='LKCM_DOHOD_RASHOD_TYPE_RASHOD'}"
                        ng-click="lkc_filter_categories_type='LKCM_DOHOD_RASHOD_TYPE_RASHOD'; lkcShowHidedClickedUpdateDnD()"
                        >
                    Расходы
                </button>
                <button
                        style="margin-top: 5px;"
                        type="button"
                        class="btn btn-default"
                        ng-class="{active: lkc_filter_categories_type=='LKCM_DOHOD_RASHOD_TYPE_DOHOD'}"
                        ng-click="lkc_filter_categories_type='LKCM_DOHOD_RASHOD_TYPE_DOHOD'; lkcShowHidedClickedUpdateDnD()"
                        >
                    Доходы
                </button>

            </div>

            {# Показывать невидимые #}
            {% include "include_show_invisible_categories.html" %}

        </div>
        <div style="width: 830px;">

            <div>

                <table
                        id="table-1"
                        class="table table-condensed pv_light_tooltip"
                        style="table-layout: fixed; width: 100%;"
                        >
                    <thead>
                        <th style="width: 40px;"></th>
                        <th style="width: 80px;">Тип</th>
                        <th style="width: 90%;">Название категории</th>
                        <th style="text-align: center; width: 80px;">Операций</th>
                        <th style="text-align: center; width: 80px;">Видима</th>
                        <th style="text-align: left; width: 160px;">Бюджет</th>
                        <th style="text-align: left; width: 100px;">Изменить</th>
                    </thead>
                    <tbody>

                        <tr
                                ng-repeat="a in lkcGetCategoriesListFiltered()"
                                ng-if="a.scf_visible || lkc_is_show_hided"
                                ng-class="{ 'row_not_visible': !a.scf_visible, 'row_cat_group_bg': a.lkc_is_group }"
                                id="{% ng a.id %}"
                                >
                            <td class="move_panel" title="Потяните, чтобы изменить порядок"><div>↕</div></td>
                            <td
                                    >
                                {% ng a.lkc_cat_type_str %}
                            </td>
                            <td
                                    >
                                <div
                                        pv-tooltip-directive="a.scf_name"
                                        class="ellipsis"
                                        style="margin-left: {% ng a.scfs_indent * 40 + 'px' %}"
                                        >
                                    {% ng a.scf_name %}
                                </div>
                            </td>
                            <td style="text-align: center;">{% ng acGetDisplayInfo(a).opCount %}</td>
                            <td style="text-align: center;">{% ng acGetDisplayInfo(a).gdi_visible %}</td>
                            <td style="text-align: left;">{% ng acGetDisplayInfo(a).agd_budget %}</td>
                            <td style="cursor: default;"><span ng-click="changeDlg(a)" class="dotted_link">изменить</span></td>
                        </tr>

                        {# Показывается если нет категорий #}
                        <tr ng-if="lkcGetCategoriesListFiltered().length == 0">
                            <td
                                    colspan="100%"
                                    style="text-align: center; padding: 20px;"
                                    >
                                Нет категорий. Добавьте первую.
                            </td>
                        </tr>

                    </tbody>
                </table>
                <button class="btn btn-info" style="margin-left: 47px; top: -15px; position: relative;" ng-click="addCategoryDlg()">Добавить категорию (Ins)</button>
                <button class="btn btn-info" style="margin-left: 47px; top: -15px; position: relative;" ng-click="addGroupDlg()">Добавить группу</button>

                <div style="padding-top: 50px;"></div>

            </div>
        </div>

        <div style="flex-grow: 1; flex-basis: 1%;">
        </div>

    </div>


    {# Ш-126 Всплывающий диалог модальный #}
    <div class="modal fade" id="myuu_change_category_dlg_id" ng-controller="ChangeDlgCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% ng cdc_header %}</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal form-condensed" ng-enter="lkcUpdateOnServerAndClose()" ng-esc="close()">

                        <div ng-if="cdc_type=='CDC_TYPE_GROUP'">

                            <sili-form-field-choices-buttons-directive
                                siffd-label="Тип группы:"
                                siffd-help-text='Только в категориях этого типа (расход/доход) будет показываться эта группа.'
                                siffd-model="lkcat_model.lkcm_dohod_rashod_type"
                                siffd-choices="[['LKCM_DOHOD_RASHOD_TYPE_RASHOD', 'Расход'], ['LKCM_DOHOD_RASHOD_TYPE_DOHOD', 'Доход']]"
                                siffd-is-req="true"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="lkcm_dohod_rashod_type"
                                    >
                            </sili-form-field-choices-buttons-directive>

                            <sili-form-field-dropdown-directive
                                siffd-label="Родительская группа:"
                                siffd-help-text='Ддля создания дерева групп. Можно оставить пустой. Для корневой группы.'
                                siffd-model="lkcat_model.scf_parent"
                                siffd-choices="ac_group_choices"
                                siffd-is-req="false"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="scf_parent"
                                    >
                            </sili-form-field-dropdown-directive>

                            <sili-form-field-input-directive
                                siffd-label="Название группы:"
                                siffd-help-text=''
                                siffd-model="lkcat_model.scf_name"
                                siffd-is-req="true"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="scf_name"
                                    >
                            </sili-form-field-input-directive>

                            <sili-form-field-input-directive
                                siffd-label="Примечание:"
                                siffd-help-text='В этом поле можно сохранить любую полезную для себя информацию об этой группе, чтобы не забыть, на будущее. Например, какие операции к ней планируется относить или для чего эта группа была создана.'
                                siffd-model="lkcat_model.scf_comment"
                                siffd-is-req="false"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="scf_comment"
                                    >
                            </sili-form-field-input-directive>

                        </div>

                        <div ng-if="cdc_type=='CDC_TYPE_CATEGORY'">

                            <sili-form-field-choices-buttons-directive
                                siffd-label="Тип категории:"
                                siffd-help-text='Зачем нужен тип? для удобства анализа, чтобы на странице анализа не видеть <br /> не нужных нулевых категорий расходов  при анализе доходов и наоборот <a href="http://pvoytko.ru/jx/NE7inIlFrq" target="_blank" style="text-decoration: underline;" class="logout__link">скриншот</a>'
                                siffd-model="lkcat_model.lkcm_dohod_rashod_type"
                                siffd-choices="[['LKCM_DOHOD_RASHOD_TYPE_RASHOD', 'Расход'], ['LKCM_DOHOD_RASHOD_TYPE_DOHOD', 'Доход']]"
                                siffd-is-req="true"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="lkcm_dohod_rashod_type"
                                    >
                            </sili-form-field-choices-buttons-directive>

                            <sili-form-field-dropdown-directive
                                siffd-label="Группа:"
                                siffd-help-text='Если выбрать тут одинаковую группу для нескольких категорий, то такие категории будут сгруппированы на странице "Анализ" для более удобного анализа. '
                                siffd-model="lkcat_model.scf_parent"
                                siffd-choices="ac_group_choices"
                                siffd-is-req="true"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="scf_parent"
                                    >
                            </sili-form-field-dropdown-directive>

                            <sili-form-field-input-directive
                                siffd-label="Название категории:"
                                siffd-help-text=''
                                siffd-model="lkcat_model.scf_name"
                                siffd-is-req="true"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="scf_name"
                                    >
                            </sili-form-field-input-directive>

                            <sili-form-field-input-directive
                                siffd-label="Примечание:"
                                siffd-help-text='В этом поле можно сохранить любую полезную для себя информацию об этой категории, чтобы не забыть, на будущее. Например, какие операции к ней планируется относить или для чего эта категория была создана.'
                                siffd-model="lkcat_model.scf_comment"
                                siffd-is-req="false"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="scf_comment"
                                    >
                            </sili-form-field-input-directive>

                            <sili-form-field-choices-buttons-directive
                                siffd-label="Видима:"
                                siffd-help-text='Показывать ли эту категорию в списке при внесении операций учета. Скрывайте старые больше ненужные категории.'
                                siffd-model="lkcat_model.scf_visible"
                                siffd-choices="[[false, 'Нет'], [true, 'Да']]"
                                siffd-is-req="true"
                                siffd-is-disabled="false"
                                siffd-django-form-errors="cdc_dj_errors"
                                siffd-field-name="scf_visible"
                                    >
                            </sili-form-field-choices-buttons-directive>

                        </div>

                    </form>

                    <div
                            ng-if="cdc_dj_errors.hasDjangoFormAnyFieldErrors()"
                            class="alert alert-danger"
                            style="margin-bottom: 0px; margin-top: 10px;"
                            >
                        Исправьте ошибки в форме выше, пожалуйста.
                    </div>

                    {# Ошибки уровня формы такие как: нельзя удалить категорию если в ней есть операции #}
                    <div
                            ng-if="cdc_dj_errors.hasDjangoFormNonFieldErrors()"
                            class="alert alert-danger"
                            style="margin-bottom: 0px; margin-top: 10px;"
                            >
                        <div ng-repeat="err in cdc_dj_errors.getDjangoFormNonFieldErrors()">
                            {% ng err %}
                        </div>
                    </div>

                    <div ng-show="cdcs_loading" class="alert alert-info">
                        Выполняется сохранение, ждите до 15 секунд...
                    </div>


                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button class="btn btn-success pull-right" ng-click="lkcUpdateOnServerAndClose()" ng-disabled="cdcs_loading">Сохранить (Enter)</button>
                    <button class="btn pull-right btn-default" style="margin-right: 15px;" ng-click="cdcClose()">Отмена (Esc)</button>
                    <button class="btn btn-danger pull-right" ng-click="lkcDeleteOnServerAndClose()" style="margin-right: 15px;" ng-if="resultHolderObject" ng-disabled="cdcs_loading">Удалить</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}