{% extends 'lk_base.html' %}

{% block pay_active %} class="active"{% endblock %}

{% block lk_content %}

    <style>
        .dotted_link{
            border-bottom: 1px dotted blue;
            color: blue;
            cursor: pointer;
        }
        .dotted_link:hover{
            border-bottom-color: red;
            color: red;
        }
    </style>

    <h4>Режимы работы с сервисом</h4>
    <div class="row">
        <div class="span8">
            <table class="table table-condensed table-hover">
                <thead>
                    <th width="60%"></th>
                    <th>Режим "Пробный"</th>
                    <th>Режим "Оплаченный"</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Доступны все возможности сервиса</td>
                        <td>да</td>
                        <td>да</td>
                    </tr>
                    <tr>
                        <td>Максимальное количество дней учета</td>
                        <td>40</td>
                        <td>без ограничений</td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td>бесплатно</td>
                        <td>1 рубль в день</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ul>
        <li>Количество дней учета – это количество дней, по которым в сервисе внесена хотя бы одна операция учета.
    </ul>
    <h4>Ваш текущий режим работы</h4>
    <ul>
        <li>{{ payModeDescription }}
    </ul>

    <script>
        function PaymentCtrl($scope, $http){
            $scope.period = 'days30';
            $scope.cost = {
                'days30': 30,
                'days60': 60,
                'days90': 90,
                'days120': 120
            };
            $scope.doOrderAndRedirect = function($event){
                $scope.errorText = '';
                $scope.loading = true;
                $http.post('/do_order_ajax/', {
                    period: $scope.period
                }).success(function(response){
                    window.location = response.url;
                }).error(function(data, status){
                      // Статус 0 приходит если нет соединения с севером.
                      $scope.loading = false;
                      if (status == 0){
                          $scope.errorText = 'Отсутствует соединение с сервером. Проверьте соединение с интернетом.';
                      }else{
                          $scope.errorText = 'Ошибка на сервере. Пожалуйста, повторите попытку еще раз, повторите немного позднее или обратитесь в службу поддержки.';
                      }
                });
            }

        }
    </script>

    <h4>Ваши платежи</h4>
    {% if payments %}
        <table class="table table-condensed table-hover">
            <thead>
                <th>Время поступления</th>
                <th>Сумма</th>
                <th>Оплачено дней</th>
                <th>Период действия платежа</th>
            </thead>
            <tbody>
                {% for p in payments %}
                    <tr>
                        <td>
                            {{ p.date_payment_formatted }}
                        </td>
                        <td>
                            {{ p.sum_formatted }}
                        </td>
                        <td>
                            {{ p.days }}
                        </td>
                        <td>
                            {{ p.from_to_period }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Здесь будет отображаться информация о Ваших поступивших в сервис платежах. Сейчас платежей нет.
        </p>
    {% endif %}

    <h4>Оплатить</h4>
    <form ng-controller="PaymentCtrl">
        <p>Выберите оплачиваемый период использования сервиса:</p>
        <p>
            <button type="button" class="btn" ng-class="{active: period=='days30'}" ng-click="period='days30'">30</button>
            <button type="button" class="btn" ng-class="{active: period=='days60'}" ng-click="period='days60'">60</button>
            <button type="button" class="btn" ng-class="{active: period=='days90'}" ng-click="period='days90'">90</button>
            <button type="button" class="btn" ng-class="{active: period=='days120'}" ng-click="period='days120'">120</button>
            <span>дней</span>
        </p>
        <p>Цена составит:</p>
        <p>
            <strong style="font-size: 150%;">{$ cost[period] $}</strong> рублей
        </p>
        <p>
            <span data-toggle="collapse" data-target="#demo" class="dotted_link">
                Как происходит зачисление и списание денег
            </span>
        </p>
        <div id="demo" class="collapse">
            <p>
                Пример. Вы сделали платеж 10 мая, выбрав в качестве оплачиваемого периода использования сервиса – 90 дней.
            </p>
            <p>
                Ваш платеж поступает в сервис автоматически. Срок поступления - от 1 минуты, зависит от способа оплаты.
            </p>
            <p>
                Ваш платеж начинает действовать либо с текущей даты, либо со дня окончания уже действующего платежа.
            </p>
            <p>
                На время действия платежа для Вас активируется режим "Оплаченный".
            </p>
            <p>
                Режим "Оплаченный" сохранится 90 дней (по 7 августа вкючительно).
            </p>
            <p>
                На этот срок Вам предоставляется услуга работы с сервисом без каких-либо ограничений.
            </p>
            <p>
                Через 90 дней, 8 августа, при внесении новой операции учета, Вы снова увидите сообщение о необходимости оплаты.
            </p>
        </div>
        <p>
            <span data-toggle="collapse" data-target="#demo2" class="dotted_link">
                Способы оплаты и комиссия
            </span>
        </p>
        <div id="demo2" class="collapse">
            <p>
                Используется платежный сервис Z-PAYMENT, который позволяет оплатить пластиковыми картами, QIWI, Web Money, Яндекс.Деньгами, с баланса телефона, через терминалы и другими способами. Оплата любым способом для Вас доступна без комиссии, всю комиссию оплачивает сервис "Мой Удобный Учет".
            </p>
        </div>
        <p>
            <span data-toggle="collapse" data-target="#demo3" class="dotted_link">
                Что делать, если при оплате возникнут сложности?
            </span>
        </p>
        <div id="demo3" class="collapse">
            <p>
                Если в процессе оплаты возникнут сложности, сообщите об этом в службу поддержки (нажмите кнопкну "Вопрос или предложение" справа).
                Мы ответим не дольше, чем через 24 часа и поможем решить возникшие сложности.
                Гарантируем, что Ваши деньги точно не потеряются.
            </p>
        </div>
        <div ng-show="errorText" class="alert alert-danger" ng-bind="errorText">
        </div>
        <div ng-show="loading" class="alert alert-info">
            Подготовка оплаты, ждите до 15 секунд...
        </div>
        <a ng-click="doOrderAndRedirect($event)" class="btn btn-success btn-large" style="margin-bottom: 20px;">Оплатить</a>
        <p>
            Нажав кнопку "Оплатить", Вы попадете на страницу выбора способа оплаты в платежном сервисе Z-PAYMENT.
        </p>
        <p>
            На той странице выберите удобный Вам способ оплаты, оплатите и следуйте далее, пока не попадете снова на эту страницу.
        </p>

    </form>

{% endblock %}