{% extends 'base_begin.html' %}

    <!--
        Эта страница изначально была создана в ЛП-Генераторе и имела адрес http://rq2.land-page-service.ru/uu/.
        А потом малыми усилиями перенесена на свой хостинг сейчас ее адрес my-uu.ru/.
        Поэтому у нее такой говнокод.
    -->

{% block add_to_head %}

    <link rel="stylesheet" href="/static/css/common_1.css" />
    <meta name="keywords" content="личные финансы, учет расходов, домашняя бухгалтерия"/>
    <meta name="description" content="Сервис для учета и анализа расходов и доходов"/>
    <meta name="robots" content="INDEX, FOLLOW"/>


    <link href="/static/lpgen_main/screen.r0.css" rel="stylesheet" type="text/css" media="screen,projection" />
    <link href="/static/lpgen_main/print.r0.css" rel="stylesheet" type="text/css" media="print" />

    <!--[if lt IE 8]>
        <link href="/static/lpgen_main/ie.r0.css" rel="stylesheet" type="text/css" media="screen,projection" />
    <![endif]-->


    <script src="//code.jquery.com/jquery-1.5.2.min.js"></script>
    <script type="text/javascript">
        if (window.jQuery == undefined) {
            document.write('<scr'+'ipt type="text/javascript" src="/static/lpgen_main/'+'jquery-1.4.4.js">'+'<\/scr'+'ipt>');
        }
    </script>


    <script type="text/javascript" src="/static/lpgen_main/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/static/lpgen_main/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/static/lpgen_main/jquery.form.js"></script>
    <script type="text/javascript" src="/static/lpgen_main/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="/static/lpgen_main/jquery.maskedinput.min.js"></script>


    <script type="text/javascript">
        jq_144 = jQuery.noConflict(true);
    </script>

    <link href="/static/lpgen_main/public.r0.css" rel="stylesheet" type="text/css" media="screen,projection" />

    <style>.page_container { width: 860px; background: 0% 0% no-repeat #FFFFFF ; height: 100%; } #middle_container { width: 860px; } .preview-main-container,.main-container { migrated: 1; bg-color: FFFFFF; width: 860; z-index: 101; bg-pos: 0% 0%; anchor-id: #block-page; bg-repeat: no-repeat;  } </style>

    <script>
        jq_144("link[href='/media/favicon.ico']").remove();
    </script>
    <link rel="shortcut icon" type="image/png" href="/static/lpgen_main/2013-06-1221-53-30.png"/>

{% endblock %}


{% block content %}


    <div class="container preview-main-container" style="z-index: -1;">


    <div id="loading_bar" style="display: none;"></div>


    <div style="position: absolute; display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;ordering: 1px;height: 166px;width: 100%;z-index: 1;anchor-id: #block-new6;left: 0;top: 0;background-color: transparent;background-image: none;"
         class="outer-section"></div>

    <div style="position: absolute; display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;ordering: 2px;top: 166px;height: 381px;width: 100%;z-index: 1;anchor-id: #block-new7;left: 0;background-color: transparent;background-image: none;"
         class="outer-section"></div>

    <div style="position: absolute; display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;ordering: 3px;top: 547px;height: 329px;width: 100%;z-index: 1;anchor-id: #block-new16;left: 0;background-color: transparent;background-image: none;"
         class="outer-section"></div>

    <div style="position: absolute; display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;ordering: 4px;top: 876px;height: 561px;width: 100%;z-index: 1;anchor-id: #block-new20;left: 0;background-color: transparent;background-image: none;"
         class="outer-section"></div>

    <div style="position: absolute; display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;ordering: 5px;top: 1437px;height: 194px;width: 100%;z-index: 1;anchor-id: #block-new22;left: 0;background-color: transparent;background-image: none;"
         class="outer-section"></div>

    <div style="position: absolute; display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;ordering: 6px;top: 1631px;height: 162px;width: 100%;z-index: 1;anchor-id: #block-new25;left: 0;background-color: transparent;background-image: none;"
         class="outer-section"></div>

    <div style="position: absolute; display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;ordering: 7px;top: 1793px;height: 89px;width: 100%;z-index: 1;anchor-id: #block-new26;left: 0;background-color: transparent;background-image: none;"
         class="outer-section"></div>

    <div id="fb-root"></div>
    <div id="preview" class="page_container" style="margin: 0 auto; position: relative; left: -30px;">


    <div class="block block-box is-box" id="block-new8"
         style="display: none;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 100;border-color: #cccccc;top: 110px;height: 34px;width: 341px;anchor-id: #block-new8;border-style: none;background-color: #e9eb84;left: 344px;background-image: none;">

    </div>

    <div class="block block-image is-image" id="block-new9"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 104;top: 272px;height: 14px;width: 14px;anchor-id: #block-new9;left: 26px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/02_d.png#size_14x14" alt=""
             style="display: block; width: 14px; height: 14px"/>
    </div>

    <div class="block block-text is-text" id="block-new2"
         style="display: none;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 102;top: 107px;height: 54px;width: 328px;anchor-id: #block-new2;left: 351px;background-color: transparent;background-image: none;">
        <p style="text-align: center;">
            <span style="color:#333399;"><span style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif;"><span
                    style="font-size: 24px;">элегантный и простой! ;-)</span></span></span></p>

    </div>

    <div class="block block-text is-text" id="block-new3"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 102;top: 182px;height: 54px;width: 144px;anchor-id: #block-new3;left: 20px;background-color: transparent;background-image: none;">
        <p>
            <span><strong><span
                    style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif; color: #333399;"><span
                    style="font-size: 24px;">Для кого?</span></span></strong></span></p>

    </div>

    <div class="block block-text is-text" id="block-new1"
         style="display: none;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 102;top: 60px;height: 60px;width: 862px;anchor-id: #block-new1;left: 0;background-color: transparent;background-image: none;">
        <p style="text-align: center;">
            <span style="font-size:28px;"><strong><span
                    style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif;"><span
                    style="color: rgb(178, 34, 34);">Онлайн-сервис для учета личных расходов и доходов</span></span></strong></span>
        </p>

    </div>

    <div class="block block-text is-text" id="block-new4"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 103;top: 226px;height: 42px;width: 586px;anchor-id: #block-new4;left: 20px;background-color: transparent;background-image: none;">
        <p>
            <span style="font-size:16px;">Для личного или семейного использования. Подходит Вам, если:</span></p>

    </div>

    <div class="block block-text is-text" id="block-new5"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 103;top: 479px;height: 43px;width: 810px;anchor-id: #block-new5;left: 20px;background-color: transparent;background-image: none;">
        <p>
            <span style="font-size: 16px;">Использование сервиса <strong>гарантированно поможет Вам<br />решить эти
                проблемы</strong> раз и навсегда!</span>
        </p>

    </div>

    <div class="block block-text is-text" id="block-new18"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 103;border-color: #47b320;top: 610px;height: 254px;width: 836px;anchor-id: #block-new18;left: 20px;background-color: transparent;background-image: none;">
        <p>
            <span style="font-size: 16px;">1. Увидите куда деваются Ваши $.&nbsp;</span></p>

        <p>
            <span style="font-size: 16px;">2. &quot;Будете на чеку&quot; с расходами: лишь ситуация начнет ухудшаться, сразу увидите, отреагируете и предотвратите!</span>
        </p>

        <p>
            <span style="font-size: 16px;">3. Увидите эффективные идеи по оптимизации расходов.&nbsp;</span></p>

        <p>
            <span style="font-size: 16px;">4. <strong>Сэкономите деньги: </strong>внедрив идеи по оптимизации расходов, Вы многократно окупите траты на учет.</span>
        </p>

        <p>
            <span style="font-size: 16px;">5. <strong>Сэкономите время:</strong> больше не нужно решать проблемы нехватки денег, возникающие из-за отсутствия учета!</span>
        </p>

        <p>
            <span style="font-size: 16px;">6. Начнете жить по-средствам и обретете спокойствие за свои расходы!</span>
        </p>

    </div>


    <script>

        /* Ш-9 Контроллер всей страницы. */
        angular.module('myNgApp').controller('RegCtrl', function($scope, $http){
            $scope.errorText = null;
            $scope.loading = false;
            $scope.email = "";
            $scope.password = "";

            $scope.myUuRegister = function(){
                $scope.loading = true;
                $scope.errorText = '';

                // Ш-140
                backendAjaxPostStatu2({
                    baps_http: $http,
                    baps_ajax_url: '/register_user/',
                    baps_dj_errors: false,
                    baps_response_dj_errors_field: false,
                    baps_loading_status: false,
                    baps_post_parameters: $scope._getDataDictFromScope(),
                    baps_success_callback: function(server_response){
                      if (server_response.status_ok){

                          // Регистрация события-цели
                          ga('send', 'event', 'goal', 'GOAL_REGISTERED');
                          yaCounter22867360.reachGoal('GOAL_REGISTERED');

                          window.location = '/lk/beg/';
                      } else {
                          $scope.errorText = server_response.response;
                          $scope.loading = false;
                      }
                    },
                    baps_error_callback: function(server_response){
                       $scope.loading = false;
                    }
                });
            }
            $scope._getDataDictFromScope = function(){
                return {
                    email: $scope.email,
                    password: $scope.password
                };
            }
        });

    </script>

    {# Калькулятор #}
    {# размещен сверху т.к. синуз он должен плавать кгда в форме показывается ошибка #}
    <div style="position: absolute; left: 560px; top: 200px; z-index: 3000; width: 300px; font-size: 16px; background-color: rgb(255, 251, 117); padding: 5px 10px; border-radius: 5px;">
        <a href="/fin_calc/">Калькулятор финансовой свободы →</a>
    </div>


    <div class="panel panel-warning" style="position: absolute; left: 560px; top: 260px; z-index: 3000; width: 300px;" ng-controller="RegCtrl">
        <div ng-show="loading" style="position: absolute; width: 100%; top: 38px; bottom: 0px; background-color: white; opacity: 0.95; text-align: center; font-size: 19px; font-weight: bold; padding: 20px; padding-top: 60px;">
            Загрузка, <br />подождите 30 секунд...
        </div>
        <div class="panel-heading" style="background-color: rgb(233, 235, 132);">
            <h3 class="panel-title" style="color: rgb(51, 51, 153); font-weight: bold;">Начать вести учёт:</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="email" placeholder="Введите эл. почту">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="password" placeholder="Введите пароль">
                </div>
                <div class="form-group" ng-show="errorText">
                    <div class=" alert alert-danger" ng-bind="errorText">

                    </div>
                </div>
            </form>

            <button
                    class="btn btn-success btn-block"
                    style="border-radius: 20px; font-weight: bold; font-size: 16px;"
                    ng-click="myUuRegister()">Зарегистрироваться и <br />начать использовать</button>
        </div>
    </div>



    <div class="block block-text is-text" id="block-new36"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 103;border-color: #47b320;top: 936px;height: 492px;width: 768px;anchor-id: #block-new36;left: 70px;background-color: transparent;background-image: none;">
        <p>
            <span style="font-size:16px;"><strong>Быстрое внесение расходов и доходов.</strong><br/>
            Простая форма добавления операций позволит Вам вести полный учет расходов и доходов затрачивая всего ~5 минут в день.</span>
        </p>

        <p>
            <strong style="font-size: 16px;">Экспорт в Эксель и импорт из Экселя в 1 клик. </strong><br/>
            <span style="font-size: 16px;">Легко позволит начать использовать сервис если Вы уже учитываете расходы. Также позволит в любой момент получить все Ваши данные и перестать использовать сервис, если, вдруг, Вы так решите.</span>
        </p>

        <p>
            <span style="font-size: 16px;"><strong>Сравнение расходов за периоды: неделя, 4 недели, месяц, квартал, полугодие, год.</strong><br/>
            Позволит увидеть новые идеи для сокращения расходов. Позволяет &quot;быть на чеку&quot; с расходами.</span></p>
        <p>
            <strong style="font-size: 16px;">Категории.</strong><br/>
            <span style="font-size: 16px;">Легко сгруппировать или перегруппировать учтенные расходы по произвольным категориям для удобного осмотра и анализа расходов.</span>
        </p>

        <p>
            <strong style="font-size: 16px;">Счета (кошельки).</strong><br/>
            <span style="font-size: 16px;">У Вас несколько счетов, кошельков? Наличные, общие семейные, карточки, банковские счета? Дали или взяли в долг? Не проблема. Произвольное число счетов (кошельков) и легкий учет переводов между ними позволит учесть все возможные случаи.</span>
        </p>

    </div>

    <div class="block block-image is-image" id="block-new37"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 110;top: 1024px;height: 29px;width: 31px;anchor-id: #block-new37;left: 20px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/03_s.png#size_31x29" alt=""
             style="display: block; width: 31px; height: 29px"/>
    </div>

    <div class="block block-image is-image" id="block-new35"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 110;top: 934px;height: 29px;width: 31px;anchor-id: #block-new35;left: 20px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/03_s.png#size_31x29" alt=""
             style="display: block; width: 31px; height: 29px"/>
    </div>

    <div class="block block-text is-text" id="block-new12"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 103;top: 266px;height: 210px;width: 586px;anchor-id: #block-new12;left: 60px;background-color: transparent;background-image: none;">
        <p>
            <span style="font-size:16px;">Не знаете куда деваются деньги?</span></p>

        <p>
            <span style="font-size: 16px;">Не хватает денег на что-то важное?</span></p>

        <p>
            <span style="font-size: 16px;">Не хватает денег до зарплаты?</span></p>

        <p>
            <span style="font-size: 16px;">Образовались или иногда образовываются долги?</span></p>

        <p>
            <font size="3">От этого возникает неприятный дискомфорт и переживания?</font></p>

    </div>

    <div class="block block-image is-image" id="block-new39"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 110;top: 1180px;height: 29px;width: 31px;anchor-id: #block-new39;left: 20px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/03_s.png#size_31x29" alt=""
             style="display: block; width: 31px; height: 29px"/>
    </div>

    <div class="block block-text is-text" id="block-new15"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 102;top: 556px;height: 54px;width: 499px;anchor-id: #block-new15;left: 20px;background-color: transparent;background-image: none;">
        <p>
            <strong><span><span
                    style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif; color: #333399;"><span
                    style="font-size: 24px;">Благодаря использованию сервиса Вы</span></span></span></strong></p>

    </div>

    <div class="panel panel-warning" style="position: absolute; left: 560px; top: 1450px; z-index: 3000; width: 300px;" ng-controller="RegCtrl">
        <div ng-show="loading" style="position: absolute; width: 100%; top: 38px; bottom: 0px; background-color: white; opacity: 0.95; text-align: center; font-size: 19px; font-weight: bold; padding: 20px; padding-top: 60px;">
            Загрузка, <br />подождите 30 секунд...
        </div>
        <div class="panel-heading" style="background-color: rgb(233, 235, 132);">
            <h3 class="panel-title" style="color: rgb(51, 51, 153); font-weight: bold;">Начать использовать</h3>
        </div>

        <div class="panel-body">

            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="email" placeholder="Введите эл. почту">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="password" placeholder="Введите пароль">
                </div>
                <div class="form-group" ng-show="errorText">
                    <div class=" alert alert-danger" ng-bind="errorText">

                    </div>
                </div>
            </form>

            <button
                    class="btn btn-success btn-block"
                    style="border-radius: 20px; font-weight: bold; font-size: 16px;"
                    ng-click="myUuRegister()">Зарегистрироваться и <br />начать использовать</button>
        </div>
    </div>


    <div class="block block-text is-text" id="block-new23"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 102;top: 886px;height: 54px;width: 499px;anchor-id: #block-new23;left: 20px;background-color: transparent;background-image: none;">
        <p>
            <strong><span style="color: #333399;"><span
                    style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif; color: #333399;"><span
                    style="font-size: 24px;">Воз</span></span></span></strong><strong><span
                style="color: rgb(51, 51, 153);"><span
                style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif;"><span style="font-size: 24px;">м</span></span></span></strong><strong><span
                style="color: #333399;"><span
                style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif;"><span style="font-size: 24px;">ожности сервиса</span></span></span></strong>
        </p>

    </div>

    <div class="block block-text is-text" id="block-new24"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 102;top: 1416px;height: 54px;width: 499px;anchor-id: #block-new24;left: 20px;background-color: transparent;background-image: none;">
        <p>
            <strong><span style="color: #333399;"><span
                    style="font-family: 'lucida sans unicode', 'lucida grande', sans-serif;"><span
                    style="font-size: 24px;">Сколько стоит?</span></span></span></strong></p>

    </div>

    <div class="block block-box is-box" id="block-new27"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 107;border-radius: 18px;border-color: #cccccc;top: 1803px;height: 73px;width: 859px;anchor-id: #block-new27;border-style: solid;background-color: #cccccc;left: 0;background-image: none; margin-bottom: 30px; padding-top: 26px; padding-left: 15px;">
        <div class="pull-left" style="position: relative; top: -18px;">«Мой Удобный Учет», 2014-{{ lpgm_cur_year }}<br />Адрес: Россия, город Киров<br/>Телефон: +7(982)384-92-44 (Павел Войтко)</div>
        <div class="pull-right" style="padding-right: 15px;">Служба поддержки пользователей: <a href="https://vk.com/pvoytko">https://vk.com/pvoytko</a></div>
    </div>

    <!-- Задает высоту страницы-->
    <div style="position: absolute; top: 1890px; left: 100px;">&nbsp;</div>

    <div class="block block-text is-text" id="block-new28"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 103;top: 1469px;height: 110px;width: 819px;anchor-id: #block-new28;left: 20px;background-color: transparent;background-image: none;">
        <p>
            <font size="3">Использование сервиса - <strong>бесплатно</strong>.</font>
        </p>
        <p>
            <span style="font-size: medium;">Для учета расходов вам потребуется <strong>3-5 минут</strong> раз в день.</span>
        </p>

    </div>

    <div class="block block-image is-image" id="block-new43"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 104;top: 356px;height: 14px;width: 14px;anchor-id: #block-new43;left: 26px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/02_d.png#size_14x14" alt=""
             style="display: block; width: 14px; height: 14px"/>
    </div>

    <div class="block block-image is-image" id="block-new42"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 104;top: 313px;height: 14px;width: 14px;anchor-id: #block-new42;left: 26px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/02_d.png#size_14x14" alt=""
             style="display: block; width: 14px; height: 14px"/>
    </div>

    <div class="block block-image is-image" id="block-new40"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 110;top: 1271px;height: 29px;width: 31px;anchor-id: #block-new40;left: 20px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/03_s.png#size_31x29" alt=""
             style="display: block; width: 31px; height: 29px"/>
    </div>

    <div class="block block-box is-box" id="block-new47"
         style="display: none;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 100;border-color: #cccccc;top: 20px;height: 37px;width: 343px;anchor-id: #block-new47;border-style: none;background-color: #e9eb84;left: 0;background-image: none;">

    </div>

    <div class="block block-image is-image" id="block-new38"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 110;top: 1114px;height: 29px;width: 31px;anchor-id: #block-new38;left: 20px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/03_s.png#size_31x29" alt=""
             style="display: block; width: 31px; height: 29px"/>
    </div>

    <div class="block block-image is-image" id="block-new45"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 104;top: 439px;height: 14px;width: 14px;anchor-id: #block-new45;left: 26px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/02_d.png#size_14x14" alt=""
             style="display: block; width: 14px; height: 14px"/>
    </div>

    <div class="block block-image is-image" id="block-new44"
         style="display: block;background-position: 0% 0%;background-repeat: no-repeat;border-width: 1px;position: absolute;z-index: 104;top: 397px;height: 14px;width: 14px;anchor-id: #block-new44;left: 26px;background-color: transparent;background-image: none;">
        <img src="/static/lpgen_main/02_d.png#size_14x14" alt=""
             style="display: block; width: 14px; height: 14px"/>
    </div>


    <script>

    if (typeof jq_144 == 'undefined') {
        jq_144 = $
    }

    (function ($) {
        var re = /([^&=]+)=?([^&]*)/g;
        var decodeRE = /\+/g;  // Regex for replacing addition symbol with a space
        var decode = function (str) {
            return decodeURIComponent(str.replace(decodeRE, " "));
        };
        $.parseParams = function (query) {
            var params = {}, e;
            while (e = re.exec(query)) {
                var k = decode(e[1]), v = decode(e[2]);
                if (k.substring(k.length - 2) === '[]') {
                    k = k.substring(0, k.length - 2);
                    (params[k] || (params[k] = [])).push(v);
                }
                else params[k] = v;
            }
            return params;
        };
    })(jq_144);

    jq_144(function () {
        jq_144('head').append('<style>.page_container { width: 860px; background: 0% 0% no-repeat #FFFFFF ; height: 100%; } #middle_container { width: 860px; } .preview-main-container,.main-container { migrated: 1; bg-color: FFFFFF; width: 860; z-index: 101; bg-pos: 0% 0%; anchor-id: #block-page; bg-repeat: no-repeat;  } </style>');


        var EMAIL_RE = /^([a-z0-9_\.-]+)@([a-z0-9_\.-]+)\.([a-z\.]{2,6})$/i;
        var URL_RE = /^(https?:\/\/)?([\da-zа-я\.-]+)\.([a-zа-я\.]{2,6})([\/\w \.-]*)*\/?$/i;

        jq_144('.cont[data-type="file"] input').focus(function () {
            var finput = jq_144(this).closest('.cont').find('input[type="file"]');
            if (!finput.val()) {
                finput.click();
            }
        });

        function validateForm(send_form) {
            var errors = [];
            var send_data = send_form.serializeArray();
            var send_array = {};
            for (var i in send_data) {
                send_array[send_data[i].name] = send_data[i].value;
            }
            send_form.find('.cont:visible').each(function () {
                var cont = jq_144(this);
                var label = cont.attr('data-label');
                var name = cont.attr('data-name');
                var value = send_array[name];
                if (cont.attr('data-type') == 'file') {
                    value = cont.find('input[type="file"]').val();
                }
                if (cont.attr('data-required')) {
                    if (!value) {
                        errors.push([name, 'Обязательное поле'])
                    }
                }
                if (cont.attr('data-email')) {
                    if (value && !value.match(EMAIL_RE)) {
                        errors.push([name, 'Введите корректный email'])
                    }
                }
                if (cont.attr('data-url')) {
                    if (value && !value.match(URL_RE)) {
                        errors.push([name, 'Введите корректный URL'])
                    }
                }
                if (cont.attr('data-pattern')) {
                    if (value && this.dataset && !value.match(new RegExp(this.dataset.pattern, 'i'))) {
                        errors.push([name, 'Введите корректное значение'])
                    }
                }
            });
            return errors
        }

        function processErrors(errors, form_id) {
            var i;
            var send_form = jq_144('#' + form_id + ' form.our_form');
            var input = jq_144('#block-' + form_id + ' form :input:first');
            var label = jq_144('#block-' + form_id + ' form :input:first').parents('.cont').find('label').text() || '';
            if (!label) {
                label = jq_144('#block-' + form_id + ' form :input:first').attr('placeholder');
            }

            var error_msg;
            var error_el;
            for (var i in errors) {
                var e = errors[i];
                if (!error_msg && e[0] == input.attr('name')) {
                    error_msg = e[1];
                }
            }
            if (errors[0][1] && !error_msg) {
                error_msg = errors[0][1];
                input = jq_144('#block-' + form_id + ' [name=' + errors[0][0] + ']');
                label = input.parents('.cont').find('label').text() || '';
                if (!label) {
                    label = input.attr('placeholder');
                }
                if (!error_el) {
                    error_el = input;
                }
            }

            if (!label) {
                label = '';
            }
            if (label.substr(-1) == '*') {
                label = label.substr(0, label.length - 1);
            }
            if (label.substr(-1) == ':') {
                label = label.substr(0, label.length - 1);
            }
            if (label.substr(-1) == '*') {
                label = label.substr(0, label.length - 1);
            }
            if (!label) {
                if (input.is('[type=checkbox],[type=radio]')) {
                    label = input.parent().find('sublabel').filter(':first').text();
                }
                if (input.is('select')) {
                    label = input.find('option:first').text();
                }
            }

            if (error_msg) {
                alert(label + ': ' + error_msg);

                if (!error_el) {
                    error_el = jq_144('#block-' + form_id).find(':input:first');
                }
                error_el.focus();
            }

            send_form.show();
            jq_144('#loading_bar').fadeOut();
            return;
        }

        CURRENT_STEP = 1;

        jq_144('.block form.our_form').append("<div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='QcwiXlNUykaPI1ZZFBMtcbyMcC7sXdqF' /></div>");
        jq_144('.block form.our_form').each(function () {
            var $this = jq_144(this);
            if ($this.find('.step').length > 1) {
                var id = $this.closest('.block').attr('id').substr(6);
                var button = jq_144('a[href="#fire_form_' + id + '"]');
                if (!button.length) {
                    if (jq_144('a[href="#fire_form"]').length == 1 && jq_144('.block-form').length == 1) {
                        button = jq_144('a[href="#fire_form"]');
                    }
                }
                button.text($this.find('.step:eq(1)').attr('data-button'));
            }
        });
        jq_144('.block form.our_form input').keypress(function (event) {
            if (event.which == 13) {
                jq_144(this).closest('form').submit();
                event.preventDefault();
            }
        });
        jq_144('.block form.sprypay_pay_form').submit(function () {
            jq_144('#loading_bar').show();
            jq_144.get('/sprypay/lead/99879/', function () {
                jq_144('.block form.sprypay_pay_form').unbind('submit').submit();
            });
            return false;
        });

        function makeFormSubmit() {
            jq_144('#loading_bar').show();
            var send_form = jq_144(this);
            var form_id = send_form.parents('.block').attr('id').substr(6);

            var errors = validateForm(send_form);
            if (errors.length) {
                processErrors(errors, form_id);
                jq_144('#loading_bar').fadeOut();
                return false;
            }

            if (send_form.find('.step').length > CURRENT_STEP) {
                send_form.find('.step').hide();
                send_form.find('.step:eq(' + CURRENT_STEP + ')').show();
                CURRENT_STEP += 1;
                var button = jq_144('a[href="#fire_form_' + form_id + '"]');
                if (!button.length) {
                    if (jq_144('a[href="#fire_form"]').length == 1 && jq_144('.block-form').length == 1) {
                        button = jq_144('a[href="#fire_form"]');
                    }
                }
                var step = send_form.find('.step:eq(' + CURRENT_STEP + ')');
                if (step.length) {
                    button.text(step.attr('data-button'));
                } else {
                    button.text(button.attr('data-label'));
                }
                jq_144('#loading_bar').fadeOut();
                return false;
            }

            jq_144('#lp_form_target').remove();
            jq_144('#preview').append('<iframe id="lp_form_target" name="lp_form_target" style="width:1px; height:1px; border: 0;"></iframe>');

            top.processSuccess = function (errors) {
                if (errors.redirect) {
                    window.location.href = errors.redirect;
                    return;
                } else if (errors.length > 0) {
                    processErrors(errors, form_id);
                    return;
                }

                if (top.fClose) {
                    top.fClose();
                    return;
                }

                next = send_form.next('.message').find('a.redirect').attr('href');
                if (next && (next.indexOf('http://') == 0 || next.indexOf('/pages/') == 0)) {
                    window.location.href = send_form.next().find('a').attr('href');
                } else {
                    var msg = send_form.next('.message');
                    msg.find('a.redirect').remove();

                    if (jq_144('#form_submit_message').length == 0) {
                        jq_144('<div id="form_submit_message" />').append('<div class="internal"></div>').appendTo(jq_144('body'));
                        jq_144('#form_submit_message .internal').html(send_form.next('.message').html());
                        jq_144('#form_submit_message').overlay({
                            oneInstance: true,
                            onClose: function () {
                                jq_144('#loading_bar').fadeOut();
                            },
                            left: 'center',
                            load: true,
                            closeOnEsc: false,
                            closeOnClick: false
                        });
                    } else {
                        var a = jq_144('#form_submit_message').find('a');
                        jq_144('#form_submit_message .internal').html(send_form.next('.message').html());
                        jq_144('#form_submit_message').overlay().load();
                    }


                    jq_144('#loading_bar').fadeOut();
                }
                send_form[0].reset();
                send_form.show();

                send_form.find('.step').hide();
                send_form.find('.step:first').show();
                if (send_form.find('.step').length > 1) {
                    var id = send_form.closest('.block').attr('id').substr(6);
                    jq_144('a[href="#fire_form_' + id + '"]').text(send_form.find('.step:eq(1)').attr('data-button'));
                }
            }

            setTimeout(function () {
                send_form.attr('target', 'lp_form_target');
                send_form.unbind('submit');
                send_form.submit();
                send_form.bind('submit', makeFormSubmit);
            }, 100);
            return false;
        }

        jq_144('.block form.our_form').submit(makeFormSubmit);
        jq_144('.block form').next().hide();

        var doc_height = 0;
        jq_144('#preview .block, .preview-main-container .outer-section').each(function () {
            var btm = jq_144(this).height() + jq_144(this).position().top;
            if (btm > doc_height) {
                doc_height = btm;
            }
        });

        if (jq_144(document).height() > doc_height) {
            doc_height = jq_144(document).height();
        }


        if (doc_height > jq_144('.body-editor').height()) {
            jq_144('#preview').height(doc_height);
            jq_144('.preview-main-container').height(doc_height);
            jq_144('.body-editor').height(doc_height);
        }


        jq_144('a[href^=#fire_form]').click(function () {
            var block_id = jq_144(this).attr('href').substr(11);
            if (block_id) {
                var form = jq_144('#block-' + block_id + '.block-form form');
                form.append('<input type="hidden" name="form_id" value="' + block_id + '"/>')
                form.submit();
            } else {
                jq_144('.block-form form').submit();
            }
            return false;
        });

        jq_144('a.zingaya, .zingaya_button').click(function () {
            jq_144.get(this.rel);
        });

        jq_144('a').not('.zingaya, .zingaya_button').not('[href^=#]').not('[rel]').live('click', function () {
            var a = this;
            setTimeout(function () {
                if (a.target == '_blank') {
                    window.open(a.href, '_blank');
                } else {
                    window.location.href = a.href;
                }
            }, 100);
            return false;
        });

        jq_144('iframe').each(function () {
            var url = jq_144(this).attr("src") || '';
            if (url && url.indexOf('?') > -1) {
                jq_144(this).attr("src", url + "&wmode=transparent");
            } else {
                jq_144(this).attr("src", url + "?wmode=transparent");
            }
            jq_144(this).attr("wmode", "transparent");
        });
        jq_144('embed').each(function () {
            jq_144(this).attr("wmode", "transparent");
        });
        jq_144('object').each(function () {
            jq_144(this).append('<param name="wmode" value="transparent" />')
        });

        jq_144('.preview-main-container').css('height', jq_144('.preview-main-container').height() + 'px');

        jq_144('a.ajax_out').each(function () {
            var a = jq_144(this);
            a.attr('data-href', a.attr('href')).attr('href', '#').mousedown(function (e) {
                if (e.button != 0) {
                    return;
                }
                jq_144.ajax({
                    url: a.attr('rel'),
                    type: 'GET',
                    success: function () {
                        window.location.href = a.attr('data-href');
                    },
                    error: function (data) {
                        window.location.href = a.attr('data-href');
                    }
                });
                return false;
            });
        });

        jq_144('input[type=file]').change(function (ev) {
            jq_144(this).closest('.cont').find('input.input').val(this.value);
        });


        jq_144('input').each(function () {
            var $this = jq_144(this);
            var message = $this.attr('placeholder') || '';
            if (message) {
                $this.watermark(message, {useNative: true});
            }
        });


    });
    </script>

    <script type="text/javascript">
        jq_144(function () {
            var params = jq_144.parseParams(top.location.href.split('?')[1] || '');
            for (var k in params) {
                jq_144('.cont[data-mapping="' + k + '"] :input').val(params[k]);
            }
        });
    </script>

    </div>


    </div>












    <!--[if lt IE 7]>
            <script type="text/javascript" src="/static/lpgen_main/jquery.pngFix.pack.js"></script>
            <script type="text/javascript">
                $(function(){
                    $(document).pngFix();
                });
            </script>
         <![endif]-->
    <!--[if lt IE 8]>
             <SCRIPT type="text/javascript">
                 $(function() {
                     var container = $('#preview');
                     var left = ($(document).width() - container.width()) / 2
                     var f_left = ($(document).width() - $('#published_footer').width()) / 2
                     container.css({'position': 'static'});
                     container.find('.block').each(function() {
                         $(this).css('left', parseInt($(this).css('left')) + left + 'px');
                     });
                     $('#published_footer').css('left', f_left + 'px');
                     container.find('.block.is-form input').each(function() {
                         $(this).css('width', parseInt($(this).css('width')) - 8 + 'px');

                         var line_block = $(this).parents('.cont');
                         line_block.css({
                            'margin-top': $(this).css('margin-top'),
                            'margin-bottom': $(this).css('margin-bottom')
                         });
                     });
                 });
             </SCRIPT>
         <![endif]-->

    <script type="text/javascript">
        jq_144('input.date').each(function () {
            jq_144(this).datepicker({dateFormat: 'dd.mm.yy'});
        });
        jq_144('input[data-mask]').each(function () {
            jq_144(this).mask(jq_144(this).attr('data-mask'));
        });
    </script>

{% endblock %}
