{% extends 'base_begin.html' %}
{% load pvl_angular %}

{% block add_to_head %}

    {# Слайдер взят тут https://www.w3schools.com/howto/howto_js_rangeslider.asp #}
    <style>

        /* The slider itself */
        .my_uu_slider {
          -webkit-appearance: none;  /* Override default CSS styles */
          appearance: none;
          width: 100%; /* Full-width */
          height: 15px;
          border-radius: 5px;
          background: #d3d3d3; /* Grey background */
          outline: none; /* Remove outline */
          opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
          -webkit-transition: .2s; /* 0.2 seconds transition on hover */
          transition: opacity .2s;
        }

        /* Mouse-over effects */
        .my_uu_slider:hover {
          opacity: 1; /* Fully shown on mouse-over */
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .my_uu_slider::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          width: 25px; /* Set a specific slider handle width */
          height: 25px;
          border-radius: 50%;
          background: #4CAF50; /* Green background */
          cursor: pointer; /* Cursor on hover */
        }

        .my_uu_slider::-moz-range-thumb {
          width: 25px; /* Set a specific slider handle width */
          height: 25px;
          border-radius: 50%;
          background: #4CAF50; /* Green background */
          cursor: pointer; /* Cursor on hover */
        }
    </style>

{% endblock %}

{% block content %}

    <div style=" margin: 20px 0px;">
        <a href="/" style="text-decoration: underline;">← Вернуться на главную</a>
    </div>

    <h1 style="margin: 10px 0px 30px 0px;">Калькулятор финансовой сободы</h1>

    <div style="width: 500px;">

        <myuu-slider-input-directive
            msld-label="Начальное вложение:"
            msld-model="msi_start_rub_val"
            msld-format-type="TEN_THOUSAND_RUB"
            msld-min-value="0"
            msld-max-value="100"
            msld-init-value="0"
                >
        </myuu-slider-input-directive>

        <myuu-slider-input-directive
            msld-label="Ежемесячные пополнения:"
            msld-model="msi_add_rub_val"
            msld-format-type="ONE_THOUSAND_RUB"
            msld-min-value="0"
            msld-max-value="100"
            msld-init-value="5"
                >
        </myuu-slider-input-directive>

        <myuu-slider-input-directive
            msld-label="Срок пополнений, лет:"
            msld-model="msi_add_let_val"
            msld-format-type="LET"
            msld-min-value="1"
            msld-max-value="40"
            msld-init-value="40"
                >
        </myuu-slider-input-directive>

        <myuu-slider-input-directive
            msld-label="Процент доходности:"
            msld-model="msi_proc_doh_val"
            msld-format-type="PROCENT"
            msld-min-value="0"
            msld-max-value="40"
            msld-init-value="20"
                >
        </myuu-slider-input-directive>

        <myuu-slider-input-directive
            msld-label="Реинвестировать доход первых N лет:"
            msld-model="msi_reinvest_let_val"
            msld-format-type="LET"
            msld-min-value="1"
            msld-max-value="40"
            msld-init-value="5"
                >
        </myuu-slider-input-directive>

        <myuu-slider-input-directive
            msld-label="Затем выводить как пассивный доход долю, %:"
            msld-model="msi_vivod_proc_val"
            msld-format-type="PROCENT"
            msld-min-value="0"
            msld-max-value="100"
            msld-init-value="50"
                >
        </myuu-slider-input-directive>

        <myuu-slider-input-directive
            msld-label="Срок расчёта, лет:"
            msld-model="msi_srok_let_val"
            msld-format-type="LET"
            msld-min-value="1"
            msld-max-value="40"
            msld-init-value="15"
                >
        </myuu-slider-input-directive>

        <br />

    </div>

    <h2 style="margin: 10px 0px 30px 0px;">Расчёт сложного процента</h2>

    ТУТ БУДЕТ ТАБЛИЦА <br />

    Начальное вложение: {% ng msi_start_rub_val %} <br />
    Ежемесячные пополнения: {% ng msi_add_rub_val %} <br />
    Срок пополнений, лет: {% ng msi_add_let_val %} <br />
    Процент доходности: {% ng msi_proc_doh_val %} <br />
    Реинвестировать доход первых N лет: {% ng msi_reinvest_let_val %} <br />
    Затем выводить как пассивный доход долю, %: {% ng msi_vivod_proc_val %} <br />
    Срок расчёта, лет: {% ng msi_srok_let_val %} <br />

{% endblock %}

