{% extends "base.html" %}

{% block content %}

        <h5>Подписка на получение эл. сообщений сервиса</h5>

        {% if isUnsubscribed %}
            <p class="alert alert-info">Адрес <b>{{ user.email }}</b> сейчас отписан от сообщений.</p>
            <form action="do/" method="POST">
                <input class="btn" type="submit" value="Отписать" name="uns" disabled="disabled"/>
                <input class="btn btn-info" type="submit" value="Подписать снова" name="sub" />
            </form>
        {% else %}
            <p class="alert alert-success">Адрес <b>{{ user.email }}</b> сейчас подписан на сообщения.</p>
            <form action="do/" method="POST">
                <input class="btn btn-info" type="submit" value="Отписать" name="uns" />
                <input class="btn" type="submit" value="Подписать снова" name="sub" disabled="disabled"/>
            </form>
        {% endif %}


{% endblock %}
