/* Логотип */
.logo__text, .logo__text:hover {
    text-decoration: none;
    color: #333399;
    font-size: 28px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    background-color: #e9eb84;
    padding: 7px;
    margin-top: 16px;
    position: relative;
    left: -6px;
    display: inline-block;
}


/* Контейнер внутри которого крутится основное содержимое страницы */
.page_content_container{
    width: 860px;
    margin: 0 auto;
}


/* Переопределяем стиль bootstrap чтобы отсутп уменьшить */
.nav{
    margin-bottom: 2px;
}


/* Блок выхода из ЛК */
.logout{
    position: fixed;
    margin-right: 50%;
    right: -430px;
    z-index: 101;
    top: 37px;
}
.logout__link {
    color: darkblue;
    text-decoration: underline;
}
.logout__link:hover {
    color: red;
}
.logout__email{
    color: grey;
}
