{% extends 'admin/base_site.html' %}

{# Для страницы авторизации не надо включать главное меню в админке #}
{# потому для внешних старниц заведен отдельный шаблон - этот #}
{# который как и base.html только без меню #}

{# Тут крошк, навбар, messages и сам контент админки листинга или карточки или других внутр. страниц #}
{# вынеден в отдельный файл т.к. используется в двух местах - для страницы авторизации и внутренних #}
{% block seom_menu_column_and_content_column %}
    {% block content %}{% endblock %}
{% endblock %}
