/* Логотип */
.logo__text, .logo__text:hover {
    text-decoration: none;
    color: #333399;
    font-size: 28px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    background-color: #e9eb84;
    margin-top: 16px;
    position: relative;
    left: -6px;
    display: inline-block;
    line-height: 34px;
    padding: 0px 7px;
}


/* Контейнер внутри которого крутится основное содержимое страницы */
.page_content_container{
    width: 860px;
    margin: 0 auto;
}


/* Переопределяем стиль bootstrap чтобы отсутп уменьшить */
.nav{
    margin-bottom: 2px;
}


/* Блок выхода из ЛК */
.logout{
    position: fixed;
    margin-right: 50%;
    right: -430px;
    z-index: 101;
    top: 37px;
}
.logout__link {
    color: darkblue;
    text-decoration: underline;
}
.logout__link:hover {
    color: red;
}
.logout__email{
    color: grey;
}


/* Текст под названием сервиса на главной странице */
.logo__descr{
    color: rgb(178, 34, 34);
    font-size: 28px;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-weight: bold;
    margin-left: 17px;
}
.logo__eleg{
    color: rgb(178, 34, 34);
    font-size: 24px;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    margin-left: 350px;
    margin-top: 10px;
    background-color: rgb(233, 235, 132);
    width: 320px;
    color: rgb(51, 51, 153);
}


/* PVBLOCK: Стили */
.pvm_budget_color_red{
    color: red;
    font-weight: bold;
}
.pvm_budget_color_green{
    color: #28a745;
}
.pvm_budget_color_yellow{
    color: #ffc107;
}
/* ENDPVBLOCK */



/* Стрелки движения по периодам на странице анализа */
.my_uu_change_periood_arrow{
    position: absolute;
    top: 23px;
    font-size: 25px;
    line-height: 25px;
    background-color: white;
    border-radius: 23px;
    border: 2px solid white;
    color: #428bca;
    cursor: pointer;
}
.my_uu_change_periood_arrow:hover{
    color: #c08600;
}
.my_uu_change_periood_arrow_disabled{
    cursor: not-allowed;
    color: #b1b1b1;
}
.my_uu_change_periood_arrow_disabled:hover{
    cursor: not-allowed;
    color: #b1b1b1;
}
