/* Логотип */
.logo__text, .logo__text:hover {
    text-decoration: none;
    color: #333399;
    font-size: 28px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    background-color: #e9eb84;
    margin-top: 16px;
    position: relative;
    left: -6px;
    display: inline-block;
    line-height: 34px;
    padding: 0px 7px;
}


/* Контейнер внутри которого крутится основное содержимое страницы */
.page_content_container{
    width: 860px;
    margin: 0 auto;
}


/* Переопределяем стиль bootstrap чтобы отсутп уменьшить */
.nav{
    margin-bottom: 2px;
}


/* Блок выхода из ЛК */
.logout{
    position: fixed;
    margin-right: 50%;
    right: -430px;
    z-index: 101;
    top: 37px;
}
.logout__link {
    color: darkblue;
    text-decoration: underline;
}
.logout__link:hover {
    color: red;
}
.logout__email{
    color: grey;
}


/* Текст под названием сервиса на главной странице */
.logo__descr{
    color: rgb(178, 34, 34);
    font-size: 28px;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-weight: bold;
    margin-left: 17px;
}
.logo__eleg{
    color: rgb(178, 34, 34);
    font-size: 24px;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    margin-left: 350px;
    margin-top: 10px;
    background-color: rgb(233, 235, 132);
    width: 320px;
    color: rgb(51, 51, 153);
}


/* PVBLOCK: Стили */
.pvm_budget_color_red{
    color: red;
    font-weight: bold;
}
.pvm_budget_color_green{
    color: #28a745;
}
.pvm_budget_color_yellow{
    color: #ffc107;
}
/* ENDPVBLOCK */



/* Стрелки движения по периодам на странице анализа */
.my_uu_change_periood_arrow{
    position: absolute;
    top: 23px;
    font-size: 25px;
    line-height: 25px;
    background-color: white;
    border-radius: 23px;
    border: 2px solid white;
    color: #428bca;
    cursor: pointer;
}
.my_uu_change_periood_arrow:hover{
    color: #c08600;
}
.my_uu_change_periood_arrow_disabled{
    cursor: not-allowed;
    color: #b1b1b1;
}
.my_uu_change_periood_arrow_disabled:hover{
    cursor: not-allowed;
    color: #b1b1b1;
}



/* Ш-126 Этот стиль для того, чтобы бутстрап окно что всплывает */
/* используется в частности на главной при попытке связаться с прогером неавторизованным юзеромв */
/* чтобы этот диалог был по центру а не сверху как в обычном бутрстрап 3 */
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}



/* PVBLOCK: Если ошибка из формы джанго пришла, то красным выделяем поле с ошибкой */
/* Ш-7606 */
.isot-error-block{
    clear: both;
    display: block;
    color: red;
    margin-top: 6px;
}
.isot-has-error label {
    color: red;
}
.isot-has-error input.ksea_green_field_border {
    color: red;
    border: 1px solid red;
}
.isot-has-error textarea.ksea_green_field_border {
    color: red;
    border: 1px solid red;
}
/* https://stackoverflow.com/a/21924857/1412586 */
.isot-has-error input.ksea_green_field_border:focus, .isot-has-error textarea.ksea_green_field_border:focus{
    border-color: inherit;
    -webkit-box-shadow: 0px 0px 10px #f45b0a;
    box-shadow: 0px 0px 10px #f45b0a;
}
.svir_bs_alert_danger {
    color: red;
    background-color: #ffd9d9;
    border-color: red;
}
.svir_bs_alert_success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.svir_bs_alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}
.btn_light_red_loading {
    background: none;
    background-color: grey;
}

/* Ш-7813 Надпись о загрузке в диалоге персонаал */
.svir_loading_send_button_label{
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    padding: 0px 12px;
    border-radius: 15px;
    font-size: 100%;
    color: white;
    background-color: #26c6da;
    display: inline-block;
    text-align: center;
    display: block;
    width: 300px;
    margin: 15px auto;
}
/* ENDPVBLOCK */


/* На странице категорий желтй цвет под строкой группы */
.row_cat_group_bg{
    background-color: #eff17f9e;
}

.myuu_ana_row_header{
    background-color: #f0f0f0;
}
.myuu_ana_row_group{
    background-color: #eff17f9e;
}
.table-hover>tbody>tr:hover>td.myuu_ana_row_group{
    background-color: #dfd382c4;
}